﻿@{
    ViewBag.Title = "Nghiên cứu khoa học";
}
@section slider {
    <section class="slider">
        <div id="slider">
            <div class="shell">
                <div class="slider-holder">
                    <div class="slider-left">
                        <ul>
                            <li>
                                <h2>Đại Học Quốc Gia TpHCM</h2>
                                <p>Đại học Quốc gia Tp Hồ Chí Minh (ĐHQG-HCM) là trung tâm đào tạo đại học, sau đại học và nghiên cứu khoa học - công nghệ (KH&CN) đa ngành, đa lĩnh vực chất lượng cao đạt trình độ tiên tiến, đáp ứng yêu cầu kinh tế - xã hội đất nước, làm nòng cốt cho hệ thống giáo dục đại học Việt Nam. Chiến lược giai đoạn 2006-2010 của ĐHQG-HCM đã xác định tạo sự chuyển biến mạnh mẽ về chất lượng trong đào tạo, NCKH – chuyển giao công nghệ - hợp tác quốc tế là mũi đột phá thứ nhất của ĐHQG-HCM giai đọan này.</p>
                            </li>
                            <li>
                                <h2>Thành tựu</h2>
                                <p>
                                    - Xây dựng cơ sở dữ liệu virus cúm H5N1 phục vụ việc phát triển vắcxin.<br />
                                    - Tạo ra 03 dòng vi khuẩn E.coli bằng công nghệ gen làm cơ sở xây dựng quy trình sản xuất insulin tái tổ hợp làm thuốc điều trị bệnh tiểu đường.<br />
                                    - Tạo quy trình sản xuất protien GCSF tái tổ hợp có hoạt tính làm thuốc hỗ trợ điều trị bệnh giảm bạch cầu trong hóa trị ung thư.<br />
                                    - Nghiên cứu được bao bì tự phân hủy sinh học.<br />
                                    <br />
                                    .........
                                </p>
                            </li>
                            <li>
                                <h2>Hướng dẫn Thực hiện</h2>
                                Những bước cơ bản giúp một người làm công tác nghiên cứu có thể xây dựng một đề tài nghiên cứu đạt hiệu quả. Hình dung một lộ trình thực hiện :<br>
                                <p>
                                    1. Lựa chọn đề tài<br>
                                    2. Lập kế hoạch thực hiện<br>
                                    3. Đặt vấn đề, xây dựng giả thuyết<br>
                                    4. Thu thập số liệu, xử lí thông tin<br>
                                    5. Viết báo cáo kết quả nghiên cứu
                                </p>
                            </li>
                            <li>
                                <h2>Đăng ký đề tài</h2>
                                <p>
                                    - Đề tài cấp sinh viên.<br />
                                    - Đề tài cấp cơ sở .<br />
                                    - Đề tài cấp ĐHQG - loại A,B,C.<br />
                                    - Đề tài cấp Tỉnh, Thành phố.<br />
                                    - Đề tài cấp Nhà nước.
                                </p>
                            </li>


                        </ul>
                    </div>
                    <div class="slider-right">
                        <ul>
                            <li>
                                <img src="~/Images/slider-dhqg.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/slider-thanhtuu.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/slider-huongdan.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/slider-quytrinh.jpg" alt="" /></li>
                        </ul>
                    </div>
                    <div class="cl">&nbsp;</div>
                    <div class="slider-nav">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div class="col">
    <h2>Đề tài khoa học</h2>
    <img src="~/Images/these2.jpg" alt="" class="right" />

    <div id="listhome">
        <ul>
            <li>
                <h3><span class="icon-dashboard"></span>Đề tài cấp trường</h3>
                <ul>

                    <li><a href="#" class="big-link" data-reveal-id="captruong">Quy định</a></li>
                    <li><a href="@Url.Action("BasicLevel", "Guide")">Quy trình</a></li>
                    <li><a href="#">Đăng ký</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-tasks"></span>Đề tài cấp ĐHQG</h3>
                <ul>
                    <li><a href="#" class="big-link" data-reveal-id="capdhqg">Quy định</a></li>
                    <li><a href="@Url.Action("DHQG_ABLevel", "Guide")">Quy trình</a></li>
                    <li><a href="#">Đăng ký</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-calendar"></span>Đề tài cấp Sở KHCN</h3>
                <ul>
                    <li><a href="#" class="big-link" data-reveal-id="capdhqg">Quy định</a></li>
                    <li><a href="#">Quy trình</a></li>
                    <li><a href="#">Đăng ký</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-heart"></span>Đề tài cấp Nhà nước</h3>
                <ul>
                    <li><a href="#" class="big-link" data-reveal-id="capdhqg">Quy định</a></li>
                    <li><a href="#">Quy trình</a></li>
                    <li><a href="#">Đăng ký</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-heart"></span>Đề tài cấp Nhà nước - Nafosted</h3>
                <ul>
                    <li><a href="#" class="big-link" data-reveal-id="capnafos">Quy định</a></li>
                    <li><a href="#">Quy trình</a></li>
                    <li><a href="#">Đăng ký</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-heart"></span>Quy định chung</h3>
                <ul>
                    <li><a href="#" class="big-link" data-reveal-id="quydinh">Quy định</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-heart"></span>@Html.ActionLink("Danh sách đề tài", "Index", "List")</h3>
            </li>
        </ul>
    </div>

</div>
<div class="col">
    <h2>Nhà khoa học.</h2>
    <img src="~/Images/nhakhoahoc.jpg" alt="" class="right" />
    <p> Năm 2012 tổng số cán bộ, viên chức của ĐHQG-HCM là 5.514 người với 3.342 cán bộ giảng dạy và NCKH, 2.872 cán bộ có trình độ sau đại học, trong đó có 888 tiến sĩ, 1.769 thạc sĩ, 215 GS và PGS, với nhiều nhà khoa học đầu ngành, có uy tín lớn ở trong và ngoài nước. Đây là nguồn nhân lực quan trọng giúp ĐHQG-HCM nâng cao chất lượng đào tạo và NCKH.</p>
    <div class="cl">&nbsp;</div>
    <a href="#" class="find-more">Danh sách nhà khoa học</a>


    <div id="captruong" class="reveal-modal">
        <h1>Quy định về KH & CN của Trường ĐH Khoa học Tự nhiên, ĐHQG-HCM</h1>
        <h2>04/06/2013</h2>

        <a href="#">Quyết định 31/QĐ/KHTN-KH ngày 04/11/2011 - Quy định tạm thời mức thu quản lý phí nhiệm vụ KHCN từ 2011</a><br />
        <a href="#">Công văn số 111/KHTN-KHCN ngày 26/8/2013 - TB thu tiền cơ sở vật chất đề tài NCKH</a><br />
        <a href="#">Thông tin về các số tài khoản sử dụng trong các loại Hợp đồng KHCN của Trường</a><br />
        <a href="#">Thông tin về Trường dùng để khai nhận tiền (tài trợ) USD từ nước ngoài</a>

    </div>
    <div id="quydinh" class="reveal-modal">
        <h1>Một số quy định chung về hoạt động KH & CN</h1>
        <h2>04/06/2013</h2>
     <a href="#">TTLT 93-BTC-BKHCN 10/2006 - Hướng dẫn khoán chi kinh phí đề tài, dự án</a><br />
    <a href="#">TTLT 44-BTC-BKHCN 5/2007 - Hướng dẫn phân bổ chi tiêu kinh phí đề tài, dự án</a><br />
    <a href="#">TTLT 29-BTC-BKHCN 4/2007 - Hướng dẫn quản lý tài chính chương trình trọng điểm cấp nhà nước</a><br />
    <a href="#">TTLT 01-BTC-2010 - Chế độ chi tiêu đón tiếp khách nước ngoài, tổ chức HN quốc tế, tiếp khách trong nước</a><br />
    <a href="#">TT 23-BTC 3/2007 - Chế độ công tác phí, chi tổ chức hội nghị đối với cơ quan nhà nước-đơn vị sự nghiệp công lập </a><br />
    <a href="#">TT 63-BTC 6/2007 - Hướng dẫn thực hiện đấu thầu mua sắm tài sản</a><br />
    <a href="#">Quyết định 03/2007/QĐ-BKHCN - Quy chế đăng ký, lưu giữ và sử dụng kết quả thực hiện nhiệm vụ KH&CN</a><br />
    <a href="#">21-2000-QH10 - Luật Khoa học công nghệ</a><br />
    <a href="#">80-2006-QH11 - Luật chuyển giao công nghệ</a><br />
    <a href="#">50-2005-QH11 - Luật Sở hữu trí tuệ</a><br />
    <a href="#">TT 01-2007-BKHCN - Hướng dẫn thi hành một số điều luật SHTT và sở hữu công nghiệp</a><br />
    <a href="#">Quyết định 418/QĐ-TTg 11/4/2012 - Chiến lược phát triển KH&CN giai đoạn 2011-2020 </a><br />
    </div>
    <!-- prefix free to deal with vendor prefixes -->
        <div id="capdhqg" class="reveal-modal">
    <h1>Quy định về KH & CN của Đại học Quốc gia Tp. Hồ Chí Minh</h1>
<h2>04/06/2013</h2>
	<a href="#">Quyết định 193/QĐ-ĐHQG-KHCN ngày 22/3/2012 - Quy định tổ chức thực hiện và quản lý đề tài cấp ĐHQG-HCM (loại A, B, C)</a><br />
	<a href="#">Quyết định 586/QĐ-ĐHQG-KHCN ngày 13/6/2012 - Quy định khen thưởng KHCN thường niên ĐHQG-HCM</a><br />
    	<a href="#">Quyết định 898/QĐ-ĐHQG-KHCN ngày 18/9/2007 - Quy định tạm thời định mức chi các nhiệm vụ KH&CN theo TT44/2007/TTLT-BTC_BKHCN của ĐHQG-HCM</a><br />
	<a href="#">Quyết định 201/QĐ-ĐHQG-KHCN ngày 04/3/2009 - Quy định Sở hữu trí tuệ trong ĐHQG-HCM</a><br />
	<a href="#">Quyết định 368/QĐ-ĐHQG-KHCN NGÀY 14/5/2012 - Hướng dẫn tổ chức giải thưởng công trình nghiên cứu khoa học xuất sắc cho Sinh viên, Học viên cao học và Nghiên cứu sinh ở ĐHQG-HCM</a><br />
            </div>

</div>
<div class="col last">
        <h2>Tin tức</h2>
        <marquee direction="down" scrollamount="1"><table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<th > Tin Khoa Học Công Nghệ </th> </tr>

<tr>
<td> <ul>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6913&amp;Itemid=237" > Thông báo về Hội thảo "Giới thiệu và hướng dẫn khai thác cơ sở dữ liệu Scopus và ScienceDirect"</a> (18/10/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6856&amp;Itemid=237" > TB v/v đăng ký truy cập tài liệu trực tuyến “Bạn đọc đặc biệt”</a> (04/10/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6811&amp;Itemid=237" > Hội thảo "Giới thiệu về hệ thống SPS của các nước EFTA".</a> (25/09/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6800&amp;Itemid=237" > Hội thảo Khai thác các kết quả nghiên cứu và những vấn đề liên quan đến SHTT</a> (24/09/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6791&amp;Itemid=237" > Thông báo v/v tổ chức Hội thảo" Khoa học và Công nghệ phục vụ phát triển kinh tế xã hội vùng Nam Trung bộ - Tây Nguyên.</a> (23/09/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6771&amp;Itemid=237" > Thư mời tham dự khóa học CNSH và ứng dụng vi sinh trong nông nghiệp xanh</a> (17/09/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6770&amp;Itemid=237" > Thông báo v/v trao đổi làm việc tại Trường ĐH Khoa học Tự nhiên </a> (17/09/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6768&amp;Itemid=237" > Thông báo v/v tham quan, học tập mô hình tổ chức và kinh nghiệm quản lý phòng thí nghiệm.</a> (17/09/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6728&amp;Itemid=237" > TB v/v tham gia xét khen thưởng KH&amp;CN thường niên của ĐHQG-HCM năm học 2012-2013</a> (05/09/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6727&amp;Itemid=237" > Thông báo v/v mời tham dự giới thiệu Chiến lược quốc gia về đa dạng sinh học và góp ý Dự thảo Quy hoạch tổng thể bảo tồn đa dạng sinh học của cả nước.</a> (05/09/2013) </li>
</ul>

</td>
</tr>

</tbody>
</table>

<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<th valign="top"> Đề tài nghiệm thu trong tuần </th> </tr>

<tr>
<td> <ul>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6456&amp;Itemid=496" > NGHIỆM THU ĐỀ TÀI CẤP TRƯỜNG</a> (25/10/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6923&amp;Itemid=496" > NGHIỆM THU ĐỀ TÀI CẤP ĐHQG</a> (22/10/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6917&amp;Itemid=496" > NGHIỆM THU ĐỀ TÀI CẤP ĐHQG TRỌNG ĐIỂM</a> (21/10/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6573&amp;Itemid=496" > NGHIỆM THU GIỮA KỲ ĐỀ TÀI CẤP ĐHQG TRỌNG ĐIỂM</a> (07/10/2013) </li>
<li> <a href="http://www.hcmus.edu.vn/index.php?option=com_content&amp;task=view&amp;id=6753&amp;Itemid=496" > NGHIỆM THU ĐỀ TÀI CẤP SỞ KH&amp;CN TP. HCM</a> (13/09/2013) </li>
</ul>

</td>
</tr>

</tbody>
</table>
</marquee>
        <a href="#" class="find-more">Xem toàn bộ</a>
    </div>
    <div class="cl">&nbsp;</div>
