﻿@model QLDETAI.Models.ValidationModels
@{
    ViewBag.Title = "BasicLevel_R";
}


<!-- jQuery -->

<script src="@Url.Content("~/Scripts/pre_next.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



<link href="~/Content/PSite.css" rel="stylesheet" />

<!-- -->
<script>

    $(document).ready(function () {
        $("#title_public").click(function () {
            $("#show_public").slideToggle("slow");
        });

        $("#title_private").click(function () {
            $("#show_private").slideToggle("slow");
        });
    });


</script>

<!-- -->

<!-- 
<div class="col_R">
    <h2>Cấp cơ sở</h2>
    <h3>Giới thiệu</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>

</div>
-->
<div class="col_R2">
    <h2>Tiến trình thực hiện</h2>
    <div style="margin-left:40px"> <img src="~/Images/DangKy.jpg" style="width:100px; height:50px;"/> <p><b>Đăng ký đề tài</b></p></div>
    <br />
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active" style="width: 16%;">Lý lịch khoa học</li>
        <li class="active" style="width: 16%;">Thuyết minh đề tài</li>
        <li class="yet" style="width: 16%;">Export ra file để nộp</li>
    </ul>

    <br />
    <h2>Quy trình đăng ký Cấp sở KHCN</h2>
 
    <div class="breadcrumb flat">
        <a href="@Url.Action("SoKHCNLevel_R", "Register")">Lý lịch khoa học</a>
        <a href="@Url.Action("ThuyetMinhDeTai", "Register")">Thuyết minh đề tài</a>
        <a class="active" href="@Url.Action("BieuMau", "Register")">Download biểu mẫu để nộp</a>
    </div>
    <br />
    <br />
    <form id="msform">

        <fieldset id="tabs-7">
            <h2 class="fs-title">DOWNLOAD BIỂU MẪU ĐỂ NỘP</h2>
            <div>  
                <p><span style="font-size:25px;padding-left:20px">Hướng dẫn</span></p><br /><br />

                <p>
                <span class="line_span" style="padding-left:20px">---------------------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
                <span class="line_span" style="padding-left:20px">---------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
                </p><br />
                <p><span style="font-size:25px;padding-left:20px">Thực hiện</span></p><br /><br />
                <p id="msfile">
                     <span style="padding-left:50px">Export file cần nộp</span><br />
                    <input style="float:left;margin-top:10px" type="submit" id="btnSubmit" value="Export" />
                </p><br /><br />
            </div>
            
        </fieldset>
    </form>

</div>
<div class="cl">&nbsp;</div>


