﻿@model QLDETAI.Models.ValidationModels
@{
    ViewBag.Title = "BasicLevel_R";
}


<!-- jQuery -->

<script src="@Url.Content("~/Scripts/pre_next.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



<link href="~/Content/PSite.css" rel="stylesheet" />

<!-- -->
<script>

    $(document).ready(function () {
        $("#title_public").click(function () {
            $("#show_public").slideToggle("slow");
        });

        $("#title_private").click(function () {
            $("#show_private").slideToggle("slow");
        });
    });


</script>

<!-- -->

<!-- 
<div class="col_R">
    <h2>Cấp cơ sở</h2>
    <h3>Giới thiệu</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>

</div>
-->
<div class="col_R2">
    <h2>Tiến trình thực hiện</h2>
    <div style="margin-left:40px"> <img src="~/Images/DangKy.jpg" style="width:100px; height:50px;"/> <p><b>Đăng ký đề tài</b></p></div>
    <br />
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active" style="width: 16%;">Lý lịch khoa học</li>
        <li class="active" style="width: 16%;">Thuyết minh đề tài</li>
        <li class="yet" style="width: 16%;">Export ra file để nộp</li>
    </ul>

    <br />
    <h2>Quy trình đăng ký Cấp sở KHCN</h2>
 
    <div class="breadcrumb flat">
        <a class="active" href="@Url.Action("SoKHCNLevel_R", "Register")">Lý lịch khoa học</a>
        <a href="@Url.Action("ThuyetMinhDeTai", "Register")">Thuyết minh đề tài</a>
        <a href="@Url.Action("BieuMau", "Register")">Download biểu mẫu để nộp</a>
    </div>
    <br />
    <br />
    <div id="msform">
        <!-- fieldsets -->
        <!-- start fieldset lý lịch khoa học demo --->
        <fieldset id="tabs-5">
            <h2 class="fs-title">LÝ LỊCH KHOA HỌC</h2>

             <div>  
                <p><span style="font-size:25px;padding-left:20px">Hướng dẫn</span></p><br /><br />
                 <span style="padding-left:20px">Bạn download template này và nhập thông tin có sẵn trong file. Vui lòng không làm thay đổi định dạng</span><br /> 
                 <span style="padding-left:20px">của file và tiến hành upload file đã điền lên website này.</span><br /><br />
                 <p>
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
                </p><br />
                 <p><span style="font-size:25px;padding-left:20px">Thực hiện</span></p><br />
                 <span style="padding-left:20px">Biểu mẫu lý lịch khoa học cấp Sở KHCN</span><br /><br />
                 <p>
                     <span style="padding-left:50px">Biểu mẫu </span>&nbsp&nbsp&nbsp&nbsp&nbsp
                     <a href="~/File/Cap So KHCN/Ly lich nha khoa hoc.doc">Ly lich nha khoa hoc.doc</a>
                </p>
                 <p>
                     <span style="padding-left:50px">Kích thước &nbsp&nbsp&nbsp&nbsp&nbsp 10KB</span>
                </p><br /><br />

                 <span style="padding-left:20px">Upload biểu mẫu đã nhập</span><br /><br />

                    @using (Html.BeginForm("SoKHCNLevel_R", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <table id="msfile">
                            <tr>
                                <td>
                                    <label hidden="hidden">Title</label>
                                </td>
                                <td>
                                    <input hidden="hidden" type="text" id="Title" name="Title" style="width: 240px;" value="tmdt" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="file" name="file" id="file" style="width: 240px;" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <input style="float:left;margin-top:10px" type="submit" id="btnSubmit" value="Import" /></td>
                            </tr>
                        </table>
                    }
             </div>
               
            <p>
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
            </p><br />

            <p><span style="font-size:25px;padding-left:20px">Mẫu đơn hiển thị</span></p><br /><br />
            
             <div id="title_public">  
                <strong>THÔNG TIN CHUNG </strong><br /><br /><br />
             </div>  
             <div class="div_title" id="show_public">
                <p>
                    <span class="dangky"><b class="b_title_green">. </b>Họ và tên:</span>
                    <input type="text" class="text" id="ten_chunhiem" title="Cần rõ ràng và ngắn gọn" value="@ViewBag.TEN_DE_TAI" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Ngày sinh:</span>
                    <input type="text" class="text" id="ngaysinh_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                <p>
                    <span class="dangky"><b class="b_title_green">. </b>Giới tính:</span>
                    <input type="radio" value="Nam" style="margin-left: -270px; margin-right: 5px; width: 10px;" id="gioitinh_chunhiem" name="gt"/>Nam 
                    <input type="radio" value="Nu" style="margin-left: 5px; margin-right: 5px; width: 10px;" id="gioitinh_chunhiem" name="gt"/>Nữ
                </p> 
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Học vị:</span>
                    <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Năm đạt:</span>
                    <input type="text" class="text" id="namdat_hocvi" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Học hàm:</span>
                    <input type="text" class="text" id="hocham_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Năm phong:</span>
                    <input type="text" class="text" id="namphonghocham_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Địa chỉ:</span>
                    <input type="text" class="text" id="diachi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Điện thoại:</span>
                    <input type="text" class="text" id="dienthoai_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Email:</span>
                    <input type="text" class="text" id="email_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Lĩnh vực chuyên môn:</span>
                    
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Lĩnh vực:</span>
                    <input type="text" class="text" id="linhvuc_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Chuyên ngành:</span>
                    <input type="text" class="text" id="chuyennganh_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>Chuyên môn:</span>
                    <input type="text" class="text" id="chuyenmon_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                </p>

                <p>
                    <span class="dangky"><b class="b_title_green">. </b>Trình độ học vấn:</span><br />
                    
                </p>
                <table border="0" cellspacing="0" cellpadding="0" id="table1">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                Bậc đào tạo
                            </p>
                        </td>
                        <td>
                            <p>
                                Thời gian
                            </p>
                        </td>
                        <td>
                            <p>
                                Nơi đào tạo
                            </p>
                        </td>
                        <td>
                            <p>
                                Chuyên ngành
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Đại học
                            </p>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Thạc sỹ
                            </p>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Tiến sỹ
                            </p>
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Tiến sỹ Khoa học
                            </p>
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                </tbody>
            </table><br /><br />

            <p>
                <span class="dangky"><b class="b_title_green">. </b>Thông tin cơ quan đang công tác:</span><br />
                    
            </p>
            <table border="0" cellspacing="0" cellpadding="0" id="table1">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                Tên cơ quan
                            </p>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Địa chỉ
                            </p>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Điện thoại/fax
                            </p>
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Email
                            </p>
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                </tbody>
            </table><br /><br />

            
            <p>
                <span class="dangky"><b class="b_title_green">. </b>Qúa trình công tác:</span><br />
                    
            </p>
            <table border="0" cellspacing="0" cellpadding="0" id="table1">
            <tbody>
                <tr>
                    <td>
                        <p>
                            Thời gian
                        </p>
                    </td>
                    <td>
                        <p>
                            Nơi công tác
                        </p>
                    </td>
                    <td>
                        <p>
                            Chức vụ
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Từ...nay
                        </p>
                    </td>
                    <td>
                        <input type="text"/>
                    </td>
                    <td>
                        <input type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Từ...đến
                        </p>
                    </td>
                    <td>
                        <input type="text"/>
                    </td>
                    <td>
                        <input type="text"/>
                    </td>
                </tr>
                
            </tbody>
        </table><br /><br />


            <p>
                <span class="dangky"><b class="b_title_green">. </b>Giải thưởng:</span><br />
                    
            </p>
            <table border="0" cellspacing="0" cellpadding="0" id="table1">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                TT
                            </p>
                        </td>
                        <td>
                            <p>
                                Tên giải thưởng
                            </p>
                        </td>
                        <td>
                            <p>
                                Nội dung giải thưởng
                            </p>
                        </td>
                        <td>
                            <p>
                                Nơi cấp
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                1
                            </p>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                2
                            </p>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    
                </tbody>
            </table><br /><br />
             </div>
             
             
            <p>
                <span class="line_span">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
                <span class="line_span">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
            </p><br />

            <p><span style="font-size:25px;padding-left:20px">Yêu cầu nhập trên web</span></p><br /><br />
            <div id="title_private">
                <strong>THÔNG TIN RIÊNG </strong><br /><br />
            </div>
             <div class="div_title" id="show_private">
                 <table border="0" cellspacing="0" cellpadding="0" id="table1">
                <tbody>
                    <tr>
                            <p style="text-align:center">
                                <b>Các đề tài, dự án, nhiệm vụ khác đã chủ trì hoặc tham gia</b><br /> 
                                (trong 5 năm gần đây thuộc lĩnh vực nghiên cứu của đề tài, dự án tuyển chọn - nếu có)

                            </p>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Tên đề tài sự án, nhiệm vụ khác đã chủ trì
                            </p>
                        </td>
                        <td>
                            <p>
                                Thời gian (bắt đầu - kết thúc)
                            </p>
                        </td>
                        <td>
                            <p>
                                Thuộc chương trình (nếu có)
                            </p>
                        </td>
                        <td>
                            <p>
                                Trình trạng đề tài (đã nghiệm thu, chưa nghiệm thu)
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    
                </tbody>
            </table><br /><br />
                </div>

            <input type="submit" name="next" class="next action-button" value="Gửi" />
        </fieldset>
        <!-- end fieldset lý lịch khoa học demo -->
    </div>

</div>
<div class="cl">&nbsp;</div>


