﻿@model QLDETAI.Models.ValidationModels
@{
    ViewBag.Title = "BasicLevel_R";
}


<!-- jQuery -->

<script src="@Url.Content("~/Scripts/pre_next.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



<link href="~/Content/PSite.css" rel="stylesheet" />

<!-- -->
<script>

    $(document).ready(function () {
        $("#title_public").click(function () {
            $("#show_public").slideToggle("slow");
        });

        $("#title_private").click(function () {
            $("#show_private").slideToggle("slow");
        });
    });

    function LayChuNhiem()
    {
        var giatri = $('#chunhiem').val();
        if (giatri == "empty")
        {
            document.getElementById("bieumau").className = "hidden";
        }
        else
        {
            document.getElementById("bieumau").className = "visible";
        }
    }


</script>

<!-- -->

<!-- 
<div class="col_R">
    <h2>Cấp cơ sở</h2>
    <h3>Giới thiệu</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>

</div>
-->

<div class="col_R2">
    <h2>Tiến trình thực hiện</h2>
    <div style="margin-left:40px"> <img src="~/Images/DangKy.jpg" style="width:100px; height:50px;"/> <p><b>Đăng ký đề tài</b></p></div>
    <br />
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active" style="width: 16%;">Lý lịch khoa học</li>
        <li class="active" style="width: 16%;">Thuyết minh đề tài</li>
        <li class="yet" style="width: 16%;">Export ra file để nộp</li>
    </ul>

    <br />
    <h2>Quy trình đăng ký Cấp sở KHCN</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("SoKHCNLevel_R", "Register")">Lý lịch khoa học</a>
        <a class="active" href="@Url.Action("ThuyetMinhDeTai", "Register")">Thuyết minh đề tài</a>
        <a href="@Url.Action("BieuMau", "Register")">Download biểu mẫu để nộp</a>
    </div>
    <br />
    <br />
    <div id="msform"">

        <!--- start fieldset thuyết minh đề tài -->
        <fieldset id="tabs-6">
            <h2 class="fs-title">THUYẾT MINH ĐỀ TÀI</h2>
             
            <div>  
                <p><span style="font-size:25px;padding-left:20px">Hướng dẫn</span></p><br /><br />
                 <span style="padding-left:20px">Chọn chủ nhiệm đề tài để download template này và nhập thông tin có sẵn trong file. Vui lòng không làm thay đổi </span><br /> 
                 <span style="padding-left:20px">định dạng của file và tiến hành upload file đã điền lên website này.</span><br /><br />
                 <p>
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
                </p><br />

                  <p><span style="font-size:25px;padding-left:20px">Yêu cầu</span></p><br /><br />
                 <span style="padding-left:20px">Vui lòng chọn chủ nhiệm đề tài để thấy link download biểu mẫu.</span><br /><br />
                <p>
                     <span style="padding-left:50px">Chọn chủ nhiệm</span><br />
                    <select style="margin-top:10px;margin-left:-550px" id="chunhiem" onclick="LayChuNhiem()">
                        <option value="empty">Chọn chủ nhiệm đề tài</option>	
                    	<option value="Nguyễn Văn Sơn">Nguyễn Văn Sơn</option>
                        <option value="Cao Mỹ Kim">Cao Mỹ Kim</option>
                        <option value="Trần Minh Huy">Trần Minh Huy</option>													
             	    </select>
                </p><br />
                <p>

                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
                </p><br />

                 <p><span style="font-size:25px;padding-left:20px">Thực hiện</span></p><br />
                 <span style="padding-left:20px">Biểu mẫu thuyết minh đề tài cấp Sở KHCN</span><br /><br />
                 <p>
                     <span style="padding-left:50px">Biểu mẫu </span>&nbsp&nbsp&nbsp&nbsp&nbsp
                     
                         <a href="~/File/Cap So KHCN/thuyet minh.doc" id="bieumau" class="hidden">Thuyet minh de tai.doc</a>
                </p>
                 <p>
                     <span style="padding-left:50px">Kích thước &nbsp&nbsp&nbsp&nbsp&nbsp 10KB</span>
                </p><br /><br />

                 <span style="padding-left:20px">Upload biểu mẫu đã nhập</span><br /><br />

                @using (Html.BeginForm("ThuyetMinhDeTai", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <table id="msfile">
                        <tr>
                            <td>
                                <label hidden="hidden">Title</label>
                            </td>
                            <td>
                                <input hidden="hidden" type="text" id="Title" name="Title" style="width: 240px;" value="tmdt" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="file" name="file" id="file" style="width: 240px;" /></td>
                        </tr>
                        <tr>
                            <td>
                                <input style="float: left; margin-top: 10px" type="submit" id="btnSubmit" value="Import" /></td>
                        </tr>
                    </table>
                    }
             </div>
               
            <p>
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span><br />
                <span class="line_span" style="padding-left:20px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
            </p><br />

            <p><span style="font-size:25px;padding-left:20px">Mẫu đơn hiển thị</span></p><br /><br />  
             <div id="title_public">  
                <strong>THÔNG TIN CHUNG </strong><br /><br /><br />
             </div>  
             <div class="div_title" id="show_public">
                <p>
                    <span class="dangky"><b class="b_title_green">. </b>A1. Tên đề tài</span><br /><br />
                </p>
                 <div class="item" style="margin-left:30px;">
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Tên Tiếng Việt:</span>
                        <input type="text" value="@ViewBag.TEN_DE_TAI" class="text" id="ten_chunhiem" title="Cần rõ ràng và ngắn gọn"  />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Tên Tiếng Anh:</span>
                        <input type="text" class="text" id="ngaysinh_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                 </div>

                <p>
                    <span class="dangky"><b class="b_title_green">. </b>A2. Thuộc ngành/nhóm ngành</span><br /><br />
                </p>
                
                  <p>
                    <span class="dangky"><b class="b_title_green">. </b>A3. Loại hình nghiên cứu</span><br /><br />
                </p>

                  <p>
                    <span class="dangky"><b class="b_title_green">. </b>A4. Thời gian thực hiện</span><br /><br />
                    <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />tháng(kể từ khi được duyệt)
                </p>
                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>A5. Tổng kinh phí</span><br /><br />
                  </p>
                 <div class="item" style="margin-left:30px;">
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Tổng kinh phí:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />(triệu đồng) gồm:
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Kinh phí từ ĐHQG-HCM:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />triệu đồng
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Kinh phí từ nguồn huy động (vốn tự có và vốn khác):</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />triệu đồng, trong đó:
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Vốn tự  có:</span>
                        <input type="text" class="text" id="namdat_hocvi" title="Cần rõ ràng và ngắn gọn" value="" />triệu đồng (văn bản chứng minh kèm theo)
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Vốn khác:</span>
                        <input type="text" class="text" id="namdat_hocvi" title="Cần rõ ràng và ngắn gọn" value="" />triệu đồng (văn bản chứng minh kèm theo)
                    </p>
                 </div>

                <p>
                    <span class="dangky"><b class="b_title_green">. </b>A6. Chủ nhiệm</span><br /><br />
                  </p>
                 <div class="item" style="margin-left:30px;">
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Học hàm, học vị, họ và tên:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Ngày, tháng, năm sinh:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Số CMND:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Ngày cấp:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Nơi cấp:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Số tài khoản:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Ngân hàng:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Địa chỉ cơ quan:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Điện thoại:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Email:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                 </div>

                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>A7. Cơ quan chủ trì</span><br /><br />
                  </p>
                 <div class="item" style="margin-left:30px;">
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Tên cơ quan:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Họ và tên thủ trưởng:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Điện thoại:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Fax:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Email:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Số tài khoản:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Tại kho bạc:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                 </div>


                 <p>
                    <span class="dangky"><b class="b_title_green">. </b>A8. Cơ quan phối hợp thực hiện</span><br /><br />
                  </p>
                 <div class="item" style="margin-left:30px;">
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Cơ quan 1:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Tên cơ quan:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Họ và tên thủ trưởng:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Điện thoại:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                     <p>
                        <span class="dangky"><b class="b_title_green">. </b>Fax:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                    <p>
                        <span class="dangky"><b class="b_title_green">. </b>Địa chỉ:</span>
                        <input type="text" class="text" id="hocvi_chunhiem" title="Cần rõ ràng và ngắn gọn" value="" />
                    </p>
                </div>               

            <input type="submit" name="next" class="next action-button" value="Gửi" />
        </fieldset>
        <!-- end fieldset thuyết minh đề tài -->
    </div>

</div>
<div class="cl">&nbsp;</div>


