﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/reveal.css" type="text/css" />

    <script src="~/Scripts/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="~/Scripts/js-func.js" type="text/javascript"></script>
    <script src="~/Scripts/prefixfree-1.0.7.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/list.js" type="text/javascript"></script>
     <script src="~/Scripts/listhome.js" type="text/javascript"></script>
     <script src="~/Scripts/jquery.reveal.js" type="text/javascript"></script>


    <!--[if IE 6]>
		    <link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
		    <script src="js/png-fix.js" type="text/javascript"></script>
	    <![endif]-->
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#">QUẢN LÝ Đề tài - Khoa học và công nghệ</a></h1>
            <div id="navigation">
                <ul>
                    <!--<li><a href="@Url.Action("Index", "Home")" class="active">Trang chủ</a></li>-->
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li><a>Hướng dẫn</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li>@Html.ActionLink("Cấp cơ sở", "BasicLevel", "Guide")</li>
                                    <li>@Html.ActionLink("Cấp trường", "CapTruong", "Guide")</li>
                                    <li>@Html.ActionLink("Cấp sở KHCN", "BasicLevel1_Coso", "Guide")</li>
                                    <li><a>Cấp ĐHQG</a>
                                        <div class="dd-holder">
                                            <div class="dd-t"></div>
                                            <div class="dd">
                                                <ul>
                                                    <li>@Html.ActionLink("Cấp ĐHQG loại A,B", "DHQG_ABLevel", "Guide")</li>
                                                    <li>@Html.ActionLink("Cấp ĐHQG loại C", "DHQG_CLevel", "Guide")</li>
                                                </ul>
                                                <div class="cl">&nbsp;</div>
                                            </div>
                                            <div class="dd-b"></div>
                                        </div>
                                    </li>
                                    <li>@Html.ActionLink("Cấp Nhà nước", "", "Guide")</li>
                                </ul>
                                <div class="cl">&nbsp;</div>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                    <li><a>Đăng ký đề tài</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li>@Html.ActionLink("Cấp cơ sở", "", "Register")</li>
                                    <li>@Html.ActionLink("Cấp trường", "", "Register")</li>
                                    <li>@Html.ActionLink("Cấp sở KHCN", "SoKHCNLevel_R", "Register")</li>
                                    <li><a>Cấp ĐHQG</a>
                                        <div class="dd-holder">
                                            <div class="dd-t"></div>
                                            <div class="dd">
                                                <ul>
                                                    <li>@Html.ActionLink("Cấp ĐHQG loại A,B", "", "Register")</li>
                                                    <li>@Html.ActionLink("Cấp ĐHQG loại C", "", "Resgister")</li>
                                                </ul>
                                                <div class="cl">&nbsp;</div>
                                            </div>
                                            <div class="dd-b"></div>
                                        </div>
                                    </li>
                                    <li>@Html.ActionLink("Cấp Nhà nước", "", "Register")</li>
                                </ul>
                                <div class="cl">&nbsp;</div>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Tìm kiếm nâng cao", "", "Search")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

            </div>
            <div class="cl">&nbsp;</div>
            <div class="search">
                <form action="#" method="post">
                    <span class="field">
                        <input type="text" class="blink" placeholder="Search tên đề tài" title="Search" />
                    </span>
                    <input type="submit" class="search-btn notext" value="Submit" />
                </form>
            </div>
        </div>
        <section class="loginPartial">
            @Html.Partial("_LoginPartial")
        </section>
    </div>
    <div id="body">
        @RenderSection("slider", required: false)
        <section id="main">
            <div class="shell">
                @RenderBody()
            </div>
        </section>

    </div>
    <div id="footer" >
        <div class="shell">
            <p class="left">Copyright &copy; 2010 RightDirection. All rights reserved. Designed by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a></p>
            <p class="right">
                <a href="#">Home</a>
                <span>|</span>
                <a href="#">About</a>
                <span>|</span>
                <a href="#">Team</a>
                <span>|</span>
                <a href="#">Jobs</a>
                <span>|</span>
                <a href="#">Contact Us</a>
                <span>|</span>
                <a href="#">Portfolio</a>
                <span>|</span>
                <a href="#">Blog</a>
            </p>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
     @RenderSection("scripts", required: false) 
</body>
</html>
