﻿
<script src="~/Scripts/list.js" type="text/javascript"></script>
<script src="~/Scripts/calendar.js" type="text/javascript"></script>
<script src="~/Scripts/view.js" type="text/javascript"></script>

<link rel="stylesheet" href="~/Content/view.css" type="text/css" />

<link rel="stylesheet" href="~/Content/List.css" type="text/css" />


<div class="col">
    <h1><a>Danh sách đề tài</a></h1>
		<form id="form_731623" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Tìm kiếm</h2>
			<p></p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Tên đề tài </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Chủ nhiệm </label>
		<div>
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Cơ quan chủ trì </label>
		<div>
		<select class="element select medium" id="element_6" name="element_6"> 
			<option value="" selected="selected"></option>
<option value="1" >Toàn bộ</option>
<option value="2" >Đại học Khoa Học Tự Nhiên</option>
<option value="3" >Đại học Bách Khoa</option>
<option value="4" >Đại học Khoa Học Xã Hội & Nhân Văn</option>
<option value="5" >Đại Học Quốc Tế</option>
<option value="6" >Khu Công Nghệ Phần Mềm</option>

		</select>
		</div> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Lĩnh vực nghiên cứu </label>
		<div>
		<select class="element select medium" id="element_7" name="element_7"> 
			<option value="" selected="selected"></option>
<option value="1" >Toàn bộ</option>
<option value="2" >Công nghệ thông tin</option>
<option value="3" >Vật lý</option>
<option value="4" >Toán học</option>
<option value="5" >Sinh học</option>

		</select>
		</div> 
		</li>		<li class="section_break">
			<h3>Thời gian thực hiện đề tài</h3>
			<p></p>
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Bắt đầu </label>
		<span>
			<input id="element_3_1" name="element_3_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_3_1">DD</label>
		</span>
		<span>
			<input id="element_3_2" name="element_3_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_3_2">MM</label>
		</span>
		<span>
	 		<input id="element_3_3" name="element_3_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_3_3">YYYY</label>
		</span>
	
		<span id="calendar_3">
			<img id="cal_img_3" class="datepicker" src="images/calendar.gif" alt="Pick a date.">	
		</span>
		<script type="text/javascript">
		    Calendar.setup({
		        inputField: "element_3_3",
		        baseField: "element_3",
		        displayArea: "calendar_3",
		        button: "cal_img_3",
		        ifFormat: "%B %e, %Y",
		        onSelect: selectEuropeDate
		    });
		</script>
		 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Kết thúc </label>
		<span>
			<input id="element_4_1" name="element_4_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_4_1">DD</label>
		</span>
		<span>
			<input id="element_4_2" name="element_4_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_4_2">MM</label>
		</span>
		<span>
	 		<input id="element_4_3" name="element_4_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_4_3">YYYY</label>
		</span>
	
		<span id="calendar_4">
			<img id="cal_img_4" class="datepicker" src="images/calendar.gif" alt="Pick a date.">	
		</span>
		<script type="text/javascript">
		    Calendar.setup({
		        inputField: "element_4_3",
		        baseField: "element_4",
		        displayArea: "calendar_4",
		        button: "cal_img_4",
		        ifFormat: "%B %e, %Y",
		        onSelect: selectEuropeDate
		    });
		</script>
		 
		</li>		<li class="section_break">
			<h3></h3>
			<p></p>
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Cấp đề tài </label>
		<span>
			<input id="element_8_1" name="element_8_1" class="element checkbox" type="checkbox" value="1" checked="checked"/>
<label class="choice" for="element_8_1">Cấp trường</label>
<input id="element_8_2" name="element_8_2" class="element checkbox" type="checkbox" value="1" checked="checked"/>
<label class="choice" for="element_8_2">Cấp ĐHQG</label>
<input id="element_8_3" name="element_8_3" class="element checkbox" type="checkbox" value="1" checked="checked"/>
<label class="choice" for="element_8_3">Cấp Sở KHCN</label>
<input id="element_8_4" name="element_8_4" class="element checkbox" type="checkbox" value="1" checked="checked"/>
<label class="choice" for="element_8_4">Cấp ĐHQG - loại A,B</label>
<input id="element_8_5" name="element_8_5" class="element checkbox" type="checkbox" value="1" checked="checked"/>
<label class="choice" for="element_8_5">Cấp ĐHQG - loại C</label>
<input id="element_8_6" name="element_8_6" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_6">Cấp Nhà nước</label>
<input id="element_8_7" name="element_8_7" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_8_7">Cấp Nhà nước - Nafosted</label>

		</span> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="731623" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
</div>

<div class="col_2 last">
    <div id="accordian">
        <ul>
            <li class="active">
                <h3><span class="icon-dashboard"></span>Đề tài dự án cấp Nhà nước (8) </h3>

                <ul>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Tự động hóa công nghệ và thiết bị sản xuất bánh tráng rế phục vụ nhu cầu trong nước và thị trường xuất khẩu
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài nhánh cấp Nhà nước</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2001 - 2003</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Trần Doãn Sơn - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu thiết kế và chế tạo hệ thống thiết bị tự động tinh luyện cồn để sản xuất xăng pha cồn với công suất tối thiểu 200 lit cồn 99.5%/ngày
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Chương trình khoa học công nghệ trọng điểm KC,KX</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2009 - 2010</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">KC 05.20/06-10</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Huỳnh Quyền - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu chế tạo diốt phát sáng (LED) dùng cho công nghiệp chiếu sang
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài độc lập cấp Nhà nước</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2007 - 2010</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đặng Mậu Chiến - Phòng thí nghiệm Nano</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu thiết kế lõi IP điều khiển DDR3 (DDR3 Controller IP)
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài độc lập cấp Nhà nước</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2009 - 2011</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đặng Trọng Trình - Khu Công nghệ phần mềm - ĐHQG HCM</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Một số vấn đề trong lĩnh vực động lực học kết cấu công trình
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài/dự án nghiên cứu Cơ bản</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2006 - 2008</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">3 002 06</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đỗ Kiến Quốc - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu tính toán diễn biến đáy và bờ dưới tác động của các yếu tố động lực dòng chảy
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài/dự án nghiên cứu Cơ bản</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2006 - 2008</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">3 004 06</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Huỳnh Công Hoài - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Phân tích và thiết kế cơ cấu song song đàn hồi dẫn động tuỳ chọn sáu bậc tự do (Analysis and design of selective-actuation 6-DOF flexure parallel mechanism)
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài/dự án nghiên cứu Cơ bản</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2006 - 2008</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">5 005 06</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Phạm Huy Hoàng - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu tính toán dòng chảy và truyền chất trên lưới phi cấu trúc và áp dụng cho các bài toán môi trường
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài/dự án nghiên cứu Cơ bản</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2006 - 2008</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">3 006 06</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Lê Song Giang - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-calendar"></span>Đề tài dự án cấp ĐHQG (9) </h3>
                <ul>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Đánh giá tác động tổng hợp của biến đổi khí hậu và hoạt động của con người đối với tài nguyên nước mặt và chất lượng không khí của lưu vực sông Sài Gòn - Đồng Nai và các chiến lược thích ứng cho phát triển bền vững
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG loại A</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2013 - 2016</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">A2013-48-01</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Hồ Long Phi - Trung tâm Quản lý nước và Biến đổi khí hậu (WACC)</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Phát triển và ứng dụng phương pháp phần tử hữu hạn trơn cho các bài toán tương tác trong lĩnh vực xây dựng công trình
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG loại B</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2013 - 2015</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">B2013-20-07</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Lương Văn Hải - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu thiết kế chế tạo và điều khiển robot cá dạng carangiform 3 khớp hoạt động trong môi trường nước ngọt
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG loại B</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2013 - 2015</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">B2013-20-01</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Võ Tường Quân - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Xây dựng hệ thống phân tích mạng xã hội theo chủ đề và ứng dụng vào mạng xã hội trong trường Đại học
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG loại B</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2013 - 2015</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">B2013-26-02</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đỗ Phúc - Trường Đại học Công nghệ thông tin</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Thiết kế bộ điều khiển thích nghi cho hệ thống vận chuyển vật liệu mềm tốc độ cao
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG loại C</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2013 - 2014</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">C2013-20-01</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Nguyễn Quốc Chí - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Dự báo và xử lý mất ổn định tàu khi có sự chuyển dịch hàng hóa bằng thuật toán tối ưu di truyền
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG loại C</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2013 - 2014</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">C2013-20-02</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Lê Tất Hiển - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Mô phỏng màng mỏng Lennard-Jones và hạt nano LENNARD-JONES đơn nguyên tử
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG loại C</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2013 - 2014</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">C2013-20-05</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Phan Ngọc Khương Cát - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                DASXTN: Sản xuất thử nghiệm các KIT thí nghiệm 8051, PIC, ARM.
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG trọng điểm</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">6/2008 - 6/2009</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">B2008-76-01TÐ</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Ngô Đức Hoàng - Khu Công nghệ phần mềm - ĐHQG HCM</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu giải thuật nhận dạng trực tuyến cảm xúc trên mặt dùng thị giác máy tính, áp dụng cho robot
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài cấp ĐHQG trọng điểm</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">06/2008 - 12/2009</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">B2008-20-02TÐ</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Nguyễn Đức Thành - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-heart"></span>Đề tài dự án cấp tỉnh thành (3) </h3>
                <ul>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Tự động hóa công nghệ và thiết bị sản xuất bánh tráng rế phục vụ nhu cầu trong nước và thị trường xuất khẩu
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài nhánh cấp Nhà nước</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2001 - 2003</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">
                                                <div class="noidung"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Trần Doãn Sơn - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu thiết kế và chế tạo hệ thống thiết bị tự động tinh luyện cồn để sản xuất xăng pha cồn với công suất tối thiểu 200 lit cồn 99.5%/ngày
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Chương trình khoa học công nghệ trọng điểm KC,KX</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2009 - 2010</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">KC 05.20/06-10</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Huỳnh Quyền - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu chế tạo diốt phát sáng (LED) dùng cho công nghiệp chiếu sang
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài độc lập cấp Nhà nước</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2007 - 2010</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đặng Mậu Chiến - Phòng thí nghiệm Nano</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-heart"></span>Đề tài dự án cấp cơ sở (3) </h3>
                <ul>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Tự động hóa công nghệ và thiết bị sản xuất bánh tráng rế phục vụ nhu cầu trong nước và thị trường xuất khẩu
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài nhánh cấp Nhà nước</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2001 - 2003</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Trần Doãn Sơn - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu thiết kế và chế tạo hệ thống thiết bị tự động tinh luyện cồn để sản xuất xăng pha cồn với công suất tối thiểu 200 lit cồn 99.5%/ngày
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Chương trình khoa học công nghệ trọng điểm KC,KX</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2009 - 2010</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">KC 05.20/06-10</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Huỳnh Quyền - Trường Đại học Bách Khoa</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        <div class="detai">
                            <div class="tendetai">
                                Nghiên cứu chế tạo diốt phát sáng (LED) dùng cho công nghiệp chiếu sang
                            </div>
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="tieude">Cấp quản lý:</div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đề tài độc lập cấp Nhà nước</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Thời gian thực hiện: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">2007 - 2010</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Mã số ĐT: </div>
                                        </td>
                                        <td>
                                            <div class="noidung"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="tieude">Chủ nhiệm - CQ Chủ trì: </div>
                                        </td>
                                        <td>
                                            <div class="noidung">Đặng Mậu Chiến - Phòng thí nghiệm Nano</div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
