﻿@{
    ViewBag.Title = "BasicLevel_3";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp cơ sở</h2>
    <h3>Giới thiệu</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("BasicLevel", "Guide")">Đề xuất</a>
        <a href="@Url.Action("BasicLevel_2", "Guide")">Compare</a>
        <a href="@Url.Action("BasicLevel_3", "Guide")" class="active">Order Confirmation</a>
        <a href="@Url.Action("BasicLevel_4", "Guide")">Checkout</a>
    </div>
    <br />
    <br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Tab One</a></li>
            <li><a href="#tabs-2">Tab Two</a></li>
            <li><a href="#tabs-3">Tab Three</a></li>
        </ul>
        <div id="tabs-1">
            <p>Tab One Content Here.</p>
        </div>
        <div id="tabs-2">
            <p>Tab Two Contents Here</p>
        </div>
        <div id="tabs-3">
            <p>Tab Three Contents Here.</p>
        </div>
    </div>
</div>
<div class="cl">&nbsp;</div>

