﻿@{
    ViewBag.Title = "BasicLevel";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/site.capcoso.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp cơ sở</h2>
    <h3>Giới thiệu</h3>
    <p>Đây là đề tài mang cấp cơ sở gồm có 2 bộ phận tham gia là cá, nhân tổ chức(người đăng ký) và cơ quan hành chính nhà nước( người đánh giá đề tài) thông qua 5 quy trình: đăng ký, thuyết minh,nghiệm thu,giám định và triển khai đề tài </p>
    <h3>Gợi ý</h3>
    <p>Quy trình thực hiện đề tài nghiên khoa học cấp cơ sở trải qua 5 bước trong đó chủ nhiệm đề tài là người đại diện đối tượng nghiên cứu thực hiện các quy trình nhận và nộp các biểu mẫu yêu cầu ...</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("BasicLevel1_Coso", "Guide")">Đăng ký sơ tuyển</a>
        <a href="@Url.Action("BasicLevel2_Coso", "Guide")">Thuyết minh</a>
        <a href="@Url.Action("BasicLevel3_Coso", "Guide")">Ký hợp đồng và giám định</a>
        <a href="@Url.Action("BasicLevel4_Coso", "Guide")">Nghiệm thu</a>
        <a href="@Url.Action("BasicLevel5_Coso", "Guide")" class="active">Triển khai đề tài</a>
    </div>
    <br />
    <br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Bước 1</a></li>
            <li><a href="#tabs-2">Bước 2</a></li>
            <li><a href="#tabs-3">Bước 3</a></li>
        </ul>
            
         <div id="tabs-1"> 
            <p><h4 class="h4_dangky">BƯỚC 1</h4></p>
            <p>Chuyên viên hướng dẫn chủ nhiệm đề tài tiến hành các thủ tục đăng ký kết quả trình chủ tịch Hội đồng khoa học
                và lãnh đạo Sở ký (Thời gian thực hiện tối đa 15 ngày kể từ khi nhận lại mẫu đăng ký kết quả từ chủ nhiệm đề tài).
                .</p><br />
             <p>
                <h4 class="h4_dangky">CÁC BIỂU MẪU LIÊN QUAN</h4>
                <a href="~/File/Biên bản thanh lý HĐ thuê khoán chuyên môn của Chủ nhiệm.doc" class="bieumau" style="color: blue;">Biên bản thanh lý HĐ thuê khoán chuyên môn của Chủ nhiệmn</a><br />
                <a href="~/File/Giấy đề nghị thanh toán chuyển khoản (mua nguyên vật liệu ...).doc" class="bieumau" style="color: blue;">Giấy đề nghị thanh toán chuyển khoản (mua nguyên vật liệu ...)</a><br />
                <a href="~/File/Hợp đồng thuê khoán chuyên môn của Chủ nhiệm.doc" class="bieumau" style="color: blue;">Hợp đồng thuê khoán chuyên môn của Chủ nhiệm</a><br />
                <a href="~/File/Giấy đề nghị thanh toán chuyển khoản (mua nguyên vật liệu ...).doc" class="bieumau" style="color: blue;">Giấy đề nghị thanh toán chuyển khoản (mua nguyên vật liệu ...)</a><br />
                <a href="~/File/Hợp đồng thuê khoán chuyên môn của Chủ nhiệm.doc" class="bieumau" style="color: blue;">Hợp đồng thuê khoán chuyên môn của Chủ nhiệm</a><br />
            </p>
        </div>
         <div id="tabs-2"> BƯỚC 2
            <p><h4 class="h4_dangky"></h4></p>
            
             <p>Chuyên viên hướng dẫn chủ nhiệm đề tài tiến hành các thủ tục thanh lý hợp đồng trình lãnh đạo
                 Sở phê duyệt (Thời gian thực hiện tối đa 30 ngày kể từ ngày nhận phiếu thẩm tra quyết toán). Chuyên viên có trách nhiệm tổng hợp lại tất cả các tài liệu liên
                 quan chuyển Nhân viên lưu trữ hồ sơ.
             </p>
        </div>
         <div id="tabs-3"> 
            <p><h4 class="h4_dangky">BƯỚC 3</h4></p>
            <p>Sở Khoa học và Công nghệ và Chủ nhiệm đề tài công bố kết quả nghiên cứu trên web của Sở và bàn giao kết quả nghiên cứu cho cơ quan đặt hàng, trung tâm
                thông tin khoa học công nghệ
            </p>
        </div>
        
    </div>
</div>
<div class="cl">&nbsp;</div>
