﻿@{
    ViewBag.Title = "BasicLevel";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/site.capcoso.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp cơ sở</h2>
    <h3>Giới thiệu</h3>
    <p>Đây là đề tài mang cấp cơ sở gồm có 2 bộ phận tham gia là cá, nhân tổ chức(người đăng ký) và cơ quan hành chính nhà nước( người đánh giá đề tài) thông qua 5 quy trình: đăng ký, thuyết minh,nghiệm thu,giám định và triển khai đề tài </p>
    <h3>Gợi ý</h3>
    <p>Quy trình thực hiện đề tài nghiên khoa học cấp cơ sở trải qua 5 bước trong đó chủ nhiệm đề tài là người đại diện đối tượng nghiên cứu thực hiện các quy trình nhận và nộp các biểu mẫu yêu cầu ...</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("BasicLevel1_Coso", "Guide")">Đăng ký sơ tuyển</a>
        <a href="@Url.Action("BasicLevel2_Coso", "Guide")">Thuyết minh</a>
        <a href="@Url.Action("BasicLevel3_Coso", "Guide")"  class="active">Ký hợp đồng và giám định</a>
        <a href="@Url.Action("BasicLevel4_Coso", "Guide")">Nghiệm thu</a>
        <a href="@Url.Action("BasicLevel5_Coso", "Guide")">Triển khai đề tài</a>
    </div>
    <br />
    <br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Bước 1</a></li>
            <li><a href="#tabs-2">Bước 2</a></li>
            <li><a href="#tabs-3">Bước 3</a></li>
        </ul>
           <div id="tabs-1">

            <p><h4 class="h4_dangky">BƯỚC 1</h4></p>
            <p>Chuyên viên hướng dẫn chủ nhiệm đề tài lập Hợp đồng nghiên cứu khoa học và phát triển công nghệ lãnh đạo Sở phê duyệt
                (Thời gian tối đa 30 ngày kể từ ngày cấp kinh phí)
                .</p>
            <br />
             <p>
                <h4 class="h4_dangky">CÁC BIỂU MẪU LIÊN QUAN</h4>
                <a href="~/File/Dexuatkyhopdong.doc" class="bieumau" style="color: blue;">Mẫu đề xuất ký hợp đồng</a><br />
                <a href="~/File/Decuongcapkinhphi.doc" class="bieumau" style="color: blue;">Mẫu đề cương cấp kinh phí</a><br />
                <a href="~/File/Giấy đề nghị nộp quản lý phí.doc" class="bieumau" style="color: blue;">Giấy đề nghị nộp quản lý phí</a><br />
                <a href="~/File/Dutoankinhphi.xls" class="bieumau" style="color: blue;">Dự toán kinh phí</a>
            </p>
        </div>
          <div id="tabs-2">
            <p><h4 class="h4_dangky">BƯỚC 2</h4></p>
            <p>Sau khi chủ nhiệm đề tài nộp báo cáo tiến độ giai đoạn 1, chuyên viên chuẩn bị thủ tục tiến hành giám định đề tài, trình lãnh đạo Sở phê duyệt (Thời gian thực hiện tối đa 30 ngày)</p>
            <p>
        </div>
          <div id="tabs-3">
            <p><h4 class="h4_dangky">BƯỚC 3</h4></p>
             <p>Chuyên viên trực tiếp lập phiếu xử lý giám định trình lãnh đạo Sở phê duyệt
                 (Thời gian thực hiện tối đa 9 ngày kể từ khi nhận được báo cáo chỉnh sửa của chủ nhiệm đề tài).
             </p>
        </div>
        
    </div>
</div>
<div class="cl">&nbsp;</div>
