﻿@{
    ViewBag.Title = "B2. Đánh giá và xét duyệt";
}


<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/site.captruong.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp trường</h2>
    <h3>Giới thiệu</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("CapTruong", "Guide")">Đăng ký</a>
        <a href="@Url.Action("CapTruong_1", "Guide")" class="active">Đánh giá xét duyệt</a>
        <a href="@Url.Action("CapTruong_2", "Guide")">Tổ chức thực hiện</a>
        <a href="@Url.Action("CapTruong_3", "Guide")">Đánh giá nghiệm thu</a>
    </div>
    <br />
    <br />
    <div id="tabs" style="width:600px;height:auto;overflow:auto;">
        <ul>
            <li><a href="#tabs-1">Quy trình</a></li>          
        </ul>
        <div id="tabs-1">
            <p><h4 class="h4_dangky">CÁC BƯỚC THỰC HIỆN</h4><br /></p>
            <p>_ Phòng KHCN tổng hợp danh mục các đề tài đăng ký theo lĩnh vực nghiên cứu.</p><br />
            <p>_ Sau đó, phòng KHCN tư vấn Ban Giám Hiệu thành lập Hội đồng khoa học.</p><br />
            <p>_ Sau khi thành lập, Hội đồng khoa học tiến hành họp xét duyệt đề tài và đề xuất Ban Giám hiệu xem xét, phê duyệt, đưa vào kế hoạch. </p>            
        </div>     
    </div>
</div>
<div class="cl">&nbsp;</div>
