﻿@{
    ViewBag.Title = "B3. Tổ chức thực hiện";
}


<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/site.captruong.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp trường</h2>
    <h3>Giới thiệu</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("CapTruong", "Guide")">Đăng ký</a>
        <a href="@Url.Action("CapTruong_1", "Guide")">Đánh giá xét duyệt</a>
        <a href="@Url.Action("CapTruong_2", "Guide")" class="active">Tổ chức thực hiện</a>
        <a href="@Url.Action("CapTruong_3", "Guide")">Đánh giá nghiệm thu</a>
    </div>
    <br />
    <br />
    <div id="tabs" style="width:600px;height:auto;overflow:auto;">
        <ul>
            <li><a href="#tabs-1">Quy trình</a></li>          
        </ul>
        <div id="tabs-1">
            <p><h4 class="h4_dangky">CÁC BƯỚC THỰC HIỆN</h4><br /></p>
            <p><span class="dangky">Bước 1:</span> Phê duyệt và giao nhiệm vụ thực hiện đề tài :</p><br />
            <p>_ Sau khi có thông báo phân bổ kinh phí của ĐHQG-HCM, Ban Giám hiệu phê duyệt và ra quyết định thực hiện đề tài cấp Trường.</p><br />
            <p>_ Phòng KHCN nhận quyết định của Ban Giám hiệu và thông báo đến các đơn vị Danh mục đề tài đã được phê duyệt.</p><br />
            <p>_ Sau khi thành lập, Hội đồng khoa học tiến hành họp xét duyệt đề tài và đề xuất Ban Giám hiệu xem xét, phê duyệt, đưa vào kế hoạch. </p><br />
            <p><span class="dangky">Bước 2:</span> Nộp hồ sơ cấp kinh phí và quyết toán :</p><br />
            <p>_ Hồ sơ cấp kinh phí :</p><br />
            <p>&nbsp;&nbsp;&nbsp;+ Chủ nhiệm đề tài tiến hành nộp hồ sơ cấp kinh phí tại Phòng KHCN.</p><br />
            <p>&nbsp;&nbsp;&nbsp;+ Sau khi Phòng KHCN trình ký, hồ sơ cấp kinh phí được chuyển đến phòng Tài vụ để giải ngân.</p><br />
            <p>_ Hồ sơ quyết toán kinh phí :</p><br />
            <p>&nbsp;&nbsp;&nbsp;+ Sau khi sử dụng hết khoản kinh phí đề tài được cấp trong năm, Chủ nhiệm đề tài nộp hồ sơ xin quyết toán kinh phí tại phòng Tài vụ.</p><br />           
            <h4 class="h4_dangky">CÁC BIỂU MẪU LIÊN QUAN</h4><br />
            <p><span class="dangky">+ Hồ sơ cấp kinh phí:</p>
                <p><a href="~/File/CapTruong/Hop Dong NCKH.doc" class="bieumau">Hợp đồng Nghiên cứu khoa học</a></p>
                <p><a href="~/File/CapTruong/De cuong cap kinh phi.doc" class="bieumau">Đề cương cấp kinh phí</a></p>
                <p><a href="~/File/CapTruong/Du toan kinh phi.doc" class="bieumau">Dự toán kinh phí đề tài</a></p>
                <p><a href="~/File/CapTruong/Giay de nghi chuyen khoan tien cong.doc" class="bieumau">Giấy đề nghị thanh toán tiền công</a></p>
                <p><a href="~/File/CapTruong/Hop dong thue khoan chuyen mon.doc" class="bieumau">Hợp đồng thuê khoán chuyên môn</a></p>
                <p><a href="~/File/CapTruong/Bien ban thanh ly hop dong thue khoan chuyen mon.doc" class="bieumau">Biên bản thanh lý hợp đồng</a></p>
                <p><a href="~/File/CapTruong/Giay de nghi thanh toan chuyen khoan.doc" class="bieumau">Giấy đề nghị thanh toán chuyển khoản mua nguyên vật liệu</a></p><br />
            <p><span class="dangky">+ Hồ sơ quyết toán kinh phí:</p>
                <p><a href="~/File/CapTruong/Bang ke chi tien.doc" class="bieumau">Bảng kê chi tiền</a></p>
                <p><a href="~/File/CapTruong/Bien nhan thu lao chu nhiem.doc" class="bieumau">Biên nhận thù lao chủ nhiệm</a></p>
                <p><a href="~/File/CapTruong/Bien nhan thu lao cong tac vien.doc" class="bieumau">Biên nhận thù lao cộng tác viên</a></p>
                <p><a href="~/File/CapTruong/Bien nhan thue khoan chuyen mon.doc" class="bieumau">Biên nhận thuê khoán chuyên môn</a></p>
                <p><a href="~/File/CapTruong/Dieu chinh du toan kinh phi de tai NCKH.doc" class="bieumau">Điều chỉnh dự toán kinh phí NCKH</a></p>
                <p><a href="~/File/CapTruong/Xac nhan quyet toan kinh phi.doc" class="bieumau">Xác nhận quyết toán kinh phí</a></p>
        </div>     
    </div>
</div>
<div class="cl">&nbsp;</div>
