﻿@{
    ViewBag.Title = "B4. Đánh giá nghiệm thu";
}


<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/site.captruong.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp trường</h2>
    <h3>Giới thiệu</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("CapTruong", "Guide")">Đăng ký</a>
        <a href="@Url.Action("CapTruong_1", "Guide")">Đánh giá xét duyệt</a>
        <a href="@Url.Action("CapTruong_2", "Guide")">Tổ chức thực hiện</a>
        <a href="@Url.Action("CapTruong_3", "Guide")" class="active">Đánh giá nghiệm thu</a>
    </div>
    <br />
    <br />
    <div id="tabs" style="width:600px;height:auto;overflow:auto;">
        <ul>
            <li><a href="#tabs-1">Quy trình</a></li>          
        </ul>
        <div id="tabs-1">
            <p><h4 class="h4_dangky">CÁC BƯỚC THỰC HIỆN</h4><br /></p>
            <p><span class="dangky">Bước 1:</span> Gửi hồ sơ nghiệm thu :</p><br />
            <p>_ Chủ nhiệm gửi hồ sơ nghiệm thu tới phòng KHCN khi kết thúc hợp đồng.</p><br />
            <p>_ Nếu không hoàn thành đúng thời hạn, Chủ nhiệm phải viết đơn xin gia hạn gửi đến Phòng KHCN chậm nhất 15 ngày trước khi kết thúc hợp đồng. Thời gian tối đa được phép gia hạn là 3 tháng và chỉ được thực hiên 1 lần.</p><br />
            <p><span class="dangky">Bước 2:</span> Đánh giá nghiệm thu :</p><br />
            <p>_ Phòng KHCN tư vấn Ban Giám hiệu thành lập HĐKH cấp Trường.</p><br />
            <p>_ HĐKH tiến hành nghiệm thu đề tài trong vòng 45 ngày kể từ khi ký quyết định và lập biên bản nghiệm thu theo mẫu quy định.</p><br />
            <p>_ Cuối cùng, Trường công nhận kết quả thực hiện trên cơ sở kết quả đánh giá nghiệm thu.</p><br />

            <h4 class="h4_dangky">CÁC BIỂU MẪU LIÊN QUAN</h4><br />
            
                <p><a href="~/File/CapTruong/Don de nghi nghiem thu de tai cap truong.doc" class="bieumau">Đơn đề nghị nghiệm thu đề tài cấp trường</a></p>
                <p><a href="~/File/CapTruong/Trang bia bao cao nghiem thu de tai cap truong.doc" class="bieumau">Trang bìa báo cáo nghiệm thu đề tài cấp trường</a></p>
                <p><a href="~/File/CapTruong/Phu bia bao cao nghiem thu de tai cap truong.doc" class="bieumau">Phụ bìa báo cáo nghiệm thu đề tài cấp trường</a></p>
        </div>     
    </div>
</div>
<div class="cl">&nbsp;</div>
