﻿@{
    ViewBag.Title = "DHQG_ABLevel_2";
}





<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp ĐHQG loại A,B</h2>
    <h3>Giới thiệu</h3>
   <p>ĐHQG-HCM là trung tâm đào tạo đại học, sau đại học và nghiên cứu (KH&amp;CN) đa ngành, đa lĩnh vực </p>

<p>chất lượng cao đạt trình độ tiên tiến. Trong giai đoạn 2011-2015, kế hoạch chiến lược phát triển khoa </p>

<p>học - công nghệ của ĐHQG-HCM ưu tiên 8 chương trình trọng điểm liên ngành. </p>

<p>1. Chương trình công nghệ vi mạch </p>

<p>2. Chương trình khoa học - công nghệ tính toán </p>

<p>3. Chương trình vật liệu cấu trúc phân tử, nano và micro </p>

<p>4. Chương trình pin mặt trời và các ứng dụng nhiệt mặt trời </p>

<p>5. Chương trình robot công nghiệp và dân dụng </p>

<p>6. Chương trình nghiên cứu phát triển sản phẩm công nghệ sinh học trên cơ sở các công nghệ nền </p>

<p>của công nghệ sinh học </p>

<p>7. Chương trình nghiên cứu phát triển các sản phẩm cơ điện tử y sinh phục vụ chăm sóc sức khỏe </p>

<p>con người </p>

<p>8. Chương trình biến đổi khí hậu. </p>

<p>Căn cứ vào hoạt động (KHCN) hằng năm, Đại học quốc gia TPHCM đưa ra công văn kêu gọi các cán </p>

<p>bộ thuộc đơn vị (các khoa, trung tâm, phòng, ban) thuộc Đại học quốc gia tham gia đăng ký đề tài </p>

<p>nghiên cứu khoa học (NCKH) cấp ĐHQG-HCM. Tuỳ theo từng cấp, Phòng KHCN&amp;DA sẽ phát hành bộ hồ </p>

<p>sơ mẫu cho các cá nhân muốn đăng ký. </p>

<p>Đề tài ĐHQG-HCM chia ra làm các loại: </p>

<p>- Loại A và B </p>

<p>- Loại C và cấp cơ sở (cấp trường)</p>
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("DHQG_ABLevel", "Guide")" >Đăng ký</a>
        <a href="@Url.Action("DHQG_ABLevel_2", "Guide")"class="active">Đánh giá - Thẩm định</a>
        <a href="@Url.Action("DHQG_ABLevel_3", "Guide")">Thực hiện-Kiểm tra</a>
        <a href="@Url.Action("DHQG_ABLevel_4", "Guide")">Nghiệm thu</a>
    </div>
    <br />
    <br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Nguyên tắc - tiêu chí</a></li>
            <li><a href="#tabs-2">Phân công  </a></li>
            <li><a href="#tabs-3">Quy trình  </a></li>
             <li><a href="#tabs-4">Biểu Mẫu  </a></li>
           
        </ul>
        <div id="tabs-1">
            <p><p><b>1. Việc đánh giá thẩm định đề tài theo các nguyên tắc chủ yếu :</b></p>

            <p>a) Đánh giá bởi các chuyên gia thuộc lĩnh vực</p>

            <p>b) Đánh giá dựa trên cơ sở hồ sơ đăng kí</p>

            <p>c) Đảm bảo tính khách quan, trung thực, công bằng</p>

            <p><b>2. Tiêu chí đánh giá thẩm định: </b></p>

            <p>a) Tầm quan trọng của nghiên cứu:</p>

            <p>· Tính cấp thiết, tính mới, tính sáng tạo và khả năng ứng dụng của nghiên cứu;</p>

            <p>· Sự phù hợp với định hướng khoa học và công nghệ đã công bố hoặc đặt hàng;</p>

            <p>b) Chất lượng nghiên cứu:</p>

            <p>· Mục tiêu, nội dung, phương pháp nghiên cứu phù hợp và mới để đạt được mục tiêu;</p>

            <p>· Đóng góp vào tri thức khoa học, có ảnh hưởng đối với xã hội;</p>

            <p>· Sản phẩm nghiên cứu phù hợp tiêu chuẩn của các loại đề tài đăng ký.</p>

            <p>c) Năng lực nghiên cứu của chủ nhiệm và nhóm nghiên cứu; điều kiện cơ sở vật chất- kỹ thuật phục vụ nghiên cứu.</p>

            <p>d) Dự toán kinh phí nghiên cứu hợp lý.</p>
            </p>
        </div>
        <div id="tabs-2">
            <p>· ĐHQG-HCM chủ trì việc đánh giá thẩm định;</p>

<p>· Hội đồng khoa học và đào tạo, hội đồng ngành/nhóm ngành và ban khoa học và công nghệ tư vấn danh sách đề tài đặt hàng và chuyên gia đánh giá;</p>

<p>· Ban khoa học và công nghệ làm nhiệm vụ tổng hợp và tư vấn Ban Giám đốc ĐHQG HCM thành phần các hội đồng đánh giá</p>

        </div>
        <div id="tabs-3">
            <p>· <b>Sơ tuyển:</b> Hội đồng sơ tuyển theo từng lĩnh vực hoặc liên ngành do ĐHQG HCM thành lập để đánh giá sự phù hợp định hướng và tiêu chuẩn của các đề tài .Suy khi có kết quả sơ tuyển, ĐHQG HCM tổng hợp thứ tự ưu tiên các đề tài để tiến hành thẩm định;</p>

<p>·<b>Thẩm định chuyên môn:</b>  được thực hiện đối với đề tài đã được hội đồng sơ tuyển thông qua. Hội đồng thẩm định do ĐHQG HCM thành lập, đánh giá. Đề tài không được thông qua nếu điểm trung bình đánh giá của hội đồng dưới 70/100 điểm;</p>

<p>·<b>Thẩm định tài chính:</b>  được thực hiện đối với đề tài đã được thông qua thẩm định chuyên môn. Công tác thẩm định tài chính do ĐHQG HCM chủ trì. Việc đánh giá dựa trên hồ sơ đề tài đã chỉnh sửa theo góp ý của hội đồng thẩm định chuyên môn và các ý kiến liên quan đến tài chính của hội đồng thẩm định chuyên môn. Danh sách đề tài sau khi thẩm định tài chính được Ban khoa học và công nghệ tổng hợp xếp theo thứ tự ưu tiên, Trình giám đốc ĐHQG HCm phê duyệt , đưa vào kế hoạch.</p>
        </div>
        <div id="tabs-4">
            	<p><a href="#">xét đánh giá thẩm định</a></p> 
            	<p><a href="#">Nhận xét đánh giá tài chính</a></p>
            	<p><a href="#">Biên bản thẩm định</a></p>
            	<p><a href="#">Hợp đồng loại  A,B</a></p>
            	

         </div>
    </div>
</div>
<div class="cl">&nbsp;</div>

