﻿@{
    ViewBag.Title = "DHQG_CLevel_4";
}









<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp ĐHQG loại C</h2>
    <h3>Giới thiệu</h3>
 <p>ĐHQG-HCM là trung tâm đào tạo đại học, sau đại học và nghiên cứu (KH&amp;CN) đa ngành, đa lĩnh vực </p>

<p>chất lượng cao đạt trình độ tiên tiến. Trong giai đoạn 2011-2015, kế hoạch chiến lược phát triển khoa </p>

<p>học - công nghệ của ĐHQG-HCM ưu tiên 8 chương trình trọng điểm liên ngành. </p>

<p>1. Chương trình công nghệ vi mạch </p>

<p>2. Chương trình khoa học - công nghệ tính toán </p>

<p>3. Chương trình vật liệu cấu trúc phân tử, nano và micro </p>

<p>4. Chương trình pin mặt trời và các ứng dụng nhiệt mặt trời </p>

<p>5. Chương trình robot công nghiệp và dân dụng </p>

<p>6. Chương trình nghiên cứu phát triển sản phẩm công nghệ sinh học trên cơ sở các công nghệ nền </p>

<p>của công nghệ sinh học </p>

<p>7. Chương trình nghiên cứu phát triển các sản phẩm cơ điện tử y sinh phục vụ chăm sóc sức khỏe </p>

<p>con người </p>

<p>8. Chương trình biến đổi khí hậu. </p>

<p>Căn cứ vào hoạt động (KHCN) hằng năm, Đại học quốc gia TPHCM đưa ra công văn kêu gọi các cán </p>

<p>bộ thuộc đơn vị (các khoa, trung tâm, phòng, ban) thuộc Đại học quốc gia tham gia đăng ký đề tài </p>

<p>nghiên cứu khoa học (NCKH) cấp ĐHQG-HCM. Tuỳ theo từng cấp, Phòng KHCN&amp;DA sẽ phát hành bộ hồ </p>

<p>sơ mẫu cho các cá nhân muốn đăng ký. </p>

<p>Đề tài ĐHQG-HCM chia ra làm các loại: </p>

<p>- Loại A và B </p>

<p>- Loại C và cấp cơ sở (cấp trường)</p>    
    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("DHQG_CLevel", "Guide")" >Đăng ký</a>
        <a href="@Url.Action("DHQG_CLevel_2", "Guide")">Đánh giá - Thẩm định</a>
        <a href="@Url.Action("DHQG_CLevel_3", "Guide")">Thực hiện-Kiểm tra</a>
        <a href="@Url.Action("DHQG_CLevel_4", "Guide")"class="active">Nghiệm thu</a>

    </div>
    <br />
    <br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Nội dung</a></li>
            <li><a href="#tabs-2">Biểu mẫu</a></li>
            
        </ul>
        <div id="tabs-1">
            <p> ĐHQG-HCM thành lập hội đồng khoa học nghiệm thu và ủy quyền cho đơn vị thực hiện quy trình đánh giá nghiệm thu đề tài cấp ĐHQG loại C.</p>


        </div>
        <div id="tabs-2">
          <p><a href ="#">Đơn đề nghị nghiệm thu đề tài cấp ĐHQG-TĐ giai đoạn 1</a></p>  
           <p><a href ="#">Báo cáo định kỳ (Mẫu báo cáo nghiệm thu giai đoạn I)</a></p> 
           <p><a href ="#">Báo cáo tóm tắt (đóng vào cuốn Báo cáo định kỳ và Báo cáo tổng kết)</a> </p> 
            <p><a href ="#">Đơn đề nghị nghiệm thu đề tài cấp ĐHQG-TĐ - tổng kết</a></p>
            <p><a href ="#">Báo cáo tổng kết</a></p>
          <p><a href ="#">Phiếu đăng ký kết quả (nộp sau khi nghiệm thu xong)</a> </p> 
        </div>
      
    </div>
</div>
<div class="cl">&nbsp;</div>



