﻿@{
    ViewBag.Title = "DHQG_ABLvel_3";
}

@{
    ViewBag.Title = "DHQG_ABLevel_4";
}







<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/js-func-nav.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(function () { $("#tabs").tabs(); });
</script>
<div class="col">
    <h2>Cấp ĐHQG loại A,B</h2>
    <h3>Giới thiệu</h3>
 <p>ĐHQG-HCM là trung tâm đào tạo đại học, sau đại học và nghiên cứu (KH&amp;CN) đa ngành, đa lĩnh vực </p>

<p>chất lượng cao đạt trình độ tiên tiến. Trong giai đoạn 2011-2015, kế hoạch chiến lược phát triển khoa </p>

<p>học - công nghệ của ĐHQG-HCM ưu tiên 8 chương trình trọng điểm liên ngành. </p>

<p>1. Chương trình công nghệ vi mạch </p>

<p>2. Chương trình khoa học - công nghệ tính toán </p>

<p>3. Chương trình vật liệu cấu trúc phân tử, nano và micro </p>

<p>4. Chương trình pin mặt trời và các ứng dụng nhiệt mặt trời </p>

<p>5. Chương trình robot công nghiệp và dân dụng </p>

<p>6. Chương trình nghiên cứu phát triển sản phẩm công nghệ sinh học trên cơ sở các công nghệ nền </p>

<p>của công nghệ sinh học </p>

<p>7. Chương trình nghiên cứu phát triển các sản phẩm cơ điện tử y sinh phục vụ chăm sóc sức khỏe </p>

<p>con người </p>

<p>8. Chương trình biến đổi khí hậu. </p>

<p>Căn cứ vào hoạt động (KHCN) hằng năm, Đại học quốc gia TPHCM đưa ra công văn kêu gọi các cán </p>

<p>bộ thuộc đơn vị (các khoa, trung tâm, phòng, ban) thuộc Đại học quốc gia tham gia đăng ký đề tài </p>

<p>nghiên cứu khoa học (NCKH) cấp ĐHQG-HCM. Tuỳ theo từng cấp, Phòng KHCN&amp;DA sẽ phát hành bộ hồ </p>

<p>sơ mẫu cho các cá nhân muốn đăng ký. </p>

<p>Đề tài ĐHQG-HCM chia ra làm các loại: </p>

<p>- Loại A và B </p>

<p>- Loại C và cấp cơ sở (cấp trường)</p>    <h3>Gợi ý</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
</div>
<div class="col_2 last">
    <h2>Các bước đăng ký</h2>
    <div class="breadcrumb flat">
        <a href="@Url.Action("DHQG_ABLevel", "Guide")" >Đăng ký</a>
        <a href="@Url.Action("DHQG_ABLevel_2", "Guide")">Đánh giá - Thẩm định</a>
        <a href="@Url.Action("DHQG_ABLevel_3", "Guide")"class="active">Thực hiện-Kiểm tra</a>
        <a href="@Url.Action("DHQG_ABLevel_4", "Guide")">Nghiệm thu</a>
    </div>
    <br />
    <br />
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">1.Phê duyệt </a></li>
            <li><a href="#tabs-2">2.Giao nhiệm vụ </a></li>
            <li><a href="#tabs-3">3.Hợp đồng </a></li>
            <li><a href="#tabs-4">4.Báo cáo giữa kì :</a></li>
             <li><a href="#tabs-5">5.Biểu mẫu :</a></li>
        </ul>
        <div id="tabs-1">
            <p>a) Sau khi kế hoạch khoa học và công nghệ của ĐHQG-HCM được Chính phủ phê duyệt ngân sách, căn cứ vào ngân sách khoa học và công nghệ hàng năm và thứ tự ưu tiên, Giám đốc ĐHQG-HCM ra quyết định giao thực hiện đối với đề tài cấp ĐHQG-HCM.</p>

<p>b) ĐHQG-HCM và đơn vị chủ trì có trách nhiệm thông báo danh mục đề tài khoa học và công nghệ của đơn vị đã được ĐHQG-HCM phê duyệt trên trang thông tin điện tử hoặc các phương tiện thông tin khác theo quy định về công khai thực hiện các đề tài của Nhà nước.</p>

<p>c) Trường hợp đề tài đăng ký tài trợ từ nhiều nguồn khác nhau, khi được ĐHQG-HCM và nguồn khác cùng chấp thuận tài trợ thì chủ nhiệm phải thông báo rõ cho ĐHQG-HCM về việc tài trợ của các nguồn khác để tránh trùng lặp.</p>

        </div>
        <div id="tabs-2">
           <p>a)Mỗi đề tài giao cho một chủ nhiệm đề tài</p>

<p>b) Giám đốc ĐHQG giao nhiệm vụ đồng chủ nhiệm đối với đề tài cấp A và B</p>

<p>c)Trường hợp đặ biệt giám đốc ĐHQG xem xét quyết định</p>

        </div>
        <div id="tabs-3">
            <p>a) ĐHQG-HCM và cơ quan chủ trì tổ chức ký hợp đồng nghiên cứu với chủ nhiệm đề tài cấp ĐHQG loại A và B.</p>


<p>b) Hợp đồng nghiên cứu là căn cứ pháp lý trong quá trình thực hiện, kiểm tra, đánh giá đề tài và giải quyết các vi phạm liên quan. Hồ sơ đăng ký đề tài là bộ phận không tách rời của hợp đồng.</p>

<p>c) Trường hợp chủ nhiệm đề tài không đồng ý các điều kiện quy định của hợp đồng nghiên cứu thì phải có văn bản gửi cơ quan chủ trì và ĐHQG-HCM. Giám đốc ĐHQG-HCM sẽ xem xét, ra quyết định hủy bỏ đề tài.</p>

        </div>
        <div id="tabs-4">
           <p>a) Chủ nhiệm lập hồ sơ báo cáo giữa kỳ về tiến độ</p>

<p>b) ĐHQG và cơ quan chủ trì tổ chức đánh giá báo cáo giữa kỳ về tiến độ và kết quả</p>

<p>c) Việc đánh giá giữa kỳ được tiến hành theo phương thức đánh giá bởi hội đồng khoa học đối với đề tài cấp ĐHQG loại A và B vào cuối các chu kỳ 12 tháng của tiến độ. ĐHQG thành lập hội đồng đánh giá giữa kỳ đối với đề tài loai A và B.</p>

        </div>
         <div id="tabs-5">
           <p><a href ="#">a)	Phiếu báo cáo giữa kì</a></p> 
            <p><a href ="#">b)	Biểu mẫu hợp đồng nghiên cứu</a></p> 
            <p> <a href ="#">c)	Biên bản xác nhận</a></p>
            <p><a href ="#">d)	Phiếu đăng ký kết quả</a></p> 
           <p> e)	Hồ sơ báo cáo giữa kì: </p>
            <p><a href ="#">•	a.Phiếu báo cáo tóm tắt</a></p> 
            <p><a href ="#"> •	b.Báo cáo giữa kỳ</a></p>

        </div>
    </div>
</div>
<div class="cl">&nbsp;</div>



