﻿@{
    ViewBag.Title = "Index";
}

<div class="col">
    <h2>Quy trình chung</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
    <a href="#" class="find-more">find out more</a>
</div>
<div class="col">
    <h2>Nhà khoa học.</h2>
    <img src="~/Images/post-image1.gif" alt="" class="right" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque </p>
    <div class="cl">&nbsp;</div>
    <a href="#" class="find-more">find out more</a>
</div>
<div class="col last">
    <h2>Đề tài khoa học</h2>
    <img src="~/Images/post-image2.gif" alt="" class="right" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque </p>
    <div class="cl">&nbsp;</div>
    <a href="#" class="find-more">find out more</a>
</div>
<div class="cl">&nbsp;</div>


