﻿h2 {
font-size: 20px;
font-weight: normal;
border-bottom: 1px solid #ddd;
padding-bottom: 4px;
margin-bottom: 10px;
font-family: "Lucida Sans", Arial, sans-serif;
}
h3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
/*form styles*/

fieldset {
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 700px;
	margin:auto;
    z-index:1;
}

/*inputs*/
input, textarea {
    	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 600px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
.action-button {
    	width: 70px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
    font-size:11px;
}

.action-button:hover, .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
    text-align:center;
}
