﻿/* Step Guide*/
.breadcrumb {
	/*centering*/
    margin-left: 20px;
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
    text-align: center;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #9EEB62;
}
/*Step Register*/
/*form styles*/
.col_R2 #msform {
	width: 100%;
	margin: 0;
	text-align: center;
    position: relative;
}
.col_R2 #msform fieldset {
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: auto;
	margin:auto;
    z-index:1;
   position:relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*h3*/
#msform h4
{
    float:left;
    width:100%;
    clear:both;
    border-bottom:1px solid #444;
}

/*ha*/
#msform a
{
    margin-left:-420px;
    width:100%;
    clear:both;
}

/*inputs*/
#msform span
{
    font-weight:bold;
    float:left;
    margin-bottom:-50px;
}

/*textarea*/
 #msform textarea {
    float:left;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
    margin-bottom:25px;
    margin-top:30px;
	box-sizing: border-box;
    width:775px;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 13px;
}

 /* chu ky p*/
p.chuky
{
    margin-bottom:45px;
    clear:both;
    float:left;
    margin-left:50px;
}

 /* thu truong p*/
p.thutruong
{
    margin-bottom:45px;
    clear:both;
    float:inherit;
}

 /* p*/
#msform p
{
    margin-bottom:15px;
    clear:both;
}

/* input*/
#msform input{
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
    width:550px;
    margin-left:190px;
    margin-top:-10px;
    clear:both;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 13px;
}

/* input file*/
#msfile input{
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
    width:100px;
    margin-left:50px;
    margin-top:-10px;
    clear:both;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 13px;
}

/*input table*/
#table1 input{
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
    width:200px;
    margin-top:5px;
    margin-left:0px;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 13px;
}
/*input p*/
#table2 p{
    width:200px;
}

/*input table2*/
#table2 input{
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
    width:200px;
    margin-top:5px;
    margin-left:0px;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 13px;
}
/*input p*/
#table1 p{
    width:200px;
}

/*input td*/
#table1 td{
    width:200px;
    border:1px solid #2C3E50;
}

#msform textarea:hover
{
    border:1px solid #04561c;
}

#msform input:hover
{
    border:1px solid #e96c14;
}
/*buttons*/
#msform .action-button {
    	width: 70px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
    font-size:11px;
}
#msform .normal_button {
    font-size:15px;
    cursor: pointer;
    	border: 0 none;
	border-radius: 1px;
    text-shadow: 0 1px 0 white;
    display: inline-block;
}
table#member {
    border-collapse: collapse;border-spacing: 2px;border-color: gray;
}
#member tr td {
    width:300px;
}
#member tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: 1px solid #ccc;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
    text-align:center;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
    text-align:center;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #333;
	text-transform: uppercase;
	font-size: 9px;
	text-align:center;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #ccc;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

/* strong tiltle*/
strong.tiltle_strong
{
    float:left;
    color:black;
    font-weight:bold;
}

span.line_span
{
    color:#ff6a00;
}

.div_title
{
    margin-left:25px;
}

.b_title_blue
{
    color:#0094ff;
    font-size:50px;
}

.b_title_red
{
    color:#f00;
    font-size:40px;
}

.b_title_yellow
{
    color:#ffd800;
    font-size:30px;
}

.b_title_green
{
    color:#27AE60;
    font-size:30px;
}


.hidden {
    visibility:hidden;
    position:relative;
}

.visible {
    visibility:visible;
    position:relative;
    
}