* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 13px;
    line-height: 22px;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #4c4c4c;
    background: #fff;
    border-top: 6px solid #2e9dbd;
}

a { color: #0252aa; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }
input { border: 0; }
.clear{clear:both;}
form { padding:0; margin:0; display:inline;}
input[type='text'], input[type='password'], textarea { background:#fff; border: 1px solid #dddddd; padding:5px 7px; margin-left: 0px; margin-right: 0px; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width:218px;}
input[type='text']:focus, input[type='password']:focus, textarea:focus { border:1px solid #bbb; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
select {background:#fff; border: 1px solid #dddddd; padding:5px 2px; font-family:Georgia, "Times New Roman", Times, serif; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
label {cursor: pointer;}
.cl {top:35px; display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; z-index:2;  position: relative;}
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 985px; margin: 0 auto; }

/* header
----------------------------------------------------------*/

#header { height: 132px; }
#header .shell { position: relative; height: 132px; z-index: 5; }

h1#logo { float: left; display: inline; width: 223px; height: 48px; margin-top: 45px; }
h1#logo a { display: block; height: 48px; background: url("../Images/logo.bmp") no-repeat 0 0; }

#navigation { float: right; display: inline; margin-top: 55px; }
#navigation ul { float: left; display: inline; list-style: none outside none; padding-top: 5px; }
#navigation ul li { position: relative; float: left; display: inline; margin-right: 15px; }
#navigation ul li a { float: left; display: inline; height: 22px; color: #767670; font-size: 14px; line-height: 23px; font-family: "Lucida Sans", Arial, Sans-serif; padding-left: 10px; }
#navigation ul li a span { padding-right: 16px; }
#navigation ul li a:hover,
#navigation ul li a.active { color: #000; text-decoration: none; }
#navigation ul li a.hover,
#navigation ul li a.hover span.link { float: left; display: inline;  color: #000; background: url("../Images/nav-hover.gif") no-repeat 0 0;  }
#navigation ul li a.hover { z-index: 10; }
#navigation ul li a.hover span.link { background-position: right 0; }
#navigation ul li .dd-holder { position: absolute; top: 19px; left: 0; display: none;  width: 139px; z-index: 5;  }
#navigation ul li .dd-t { width: 139px; height: 3px; display: block; background: url("../Images/dd-t.png") no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
#navigation ul li .dd-b { width: 139px; height: 6px; display: block; background: url("../Images/dd-b.png") no-repeat 0 0;}
#navigation ul li .dd { background: url("../Images/dd-bg.png") repeat-y 0 0; padding-top: 5px; }
#navigation ul li .dd ul { float: none;}
#navigation ul li .dd ul li { float: none;display: block; height: 23px; background: url("../Images/sub-menu-divider.gif") no-repeat center bottom; margin: 0; font-size: 0; line-height: 0;  }
#navigation ul li .dd ul li.last { background: none; }
#navigation ul li .dd ul li a { float: none; display: block;  height: 30px; color: #babab7; font-size: 12px; line-height: 19px; padding-left: 15px;  }
#navigation ul li .dd ul li a:hover { color: #28a1c3; }
#navigation ul li .dd ul li a.hover { background: none; }
#navigation ul li .dd ul li a.subhover { background: transparent url("../Images/blue-arrow.gif") no-repeat right 8px; }
#navigation ul li .dd-holder .dd-holder { top: -5px; left: 100%; }
#navigation ul li a .hide { position: absolute; top:  19px; left:4px; height: 3px; display: none; background: #fff !important; padding: 0; z-index: 10; overflow: hidden; }
#navigation .buy-now { float: left; display: inline; width: 99px; height: 34px; font-size: 14px; color: #fff;  text-align: center; line-height: 32px; font-family: "Lucida Sans Demibold Roman", Arial, Sans-serif; }

.search { position: absolute; top: 0;  right: 0; width: 191px; height: 26px; display: block; background: url("../Images/search-bg.gif") no-repeat 0 0; padding: 1px 0 0 5px; }
.search .field { float: left; display: inline; width: 155px; height: 21px; background: url("../Images/search-field-bg.gif") no-repeat 0 0; }
/*.search .field input { background-color: transparent; width: 145px; color: #bebebe; font-size: 10px; line-height: 19px; text-transform: uppercase; padding: 5px 5px 0; }*/
.search .field input {background-color: transparent; width: 145px; color: #bebebe; font-size: 10px; line-height: 19px; text-transform: uppercase; padding: 5px 5px 0;}
.search .search-btn { float: left; display: inline; width: 29px; height: 21px; background: url("../Images/search-field-bg.gif") no-repeat right 0; cursor: pointer; }
.loginPartial { position: absolute; float:right; top: 0;  right: 0; width: 150px; height: 26px; display: block; padding: 1px 0 0 5px; border-bottom:1px solid #eee; }
.loginPartial:after{visibility:hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}

/* top links
----------------------------------------------------------*/

#header .links { position: relative; float:right; line-height:30px; margin-right:3px;}
#header .links a {display: inline-block; padding:0px 10px; color: #444;  text-decoration: none; font-size:12px; position:relative;}
#header .links a + a:before{display:inline-block; content: "|"; clear: both; height: 0; color:#444; font-size:11px; padding-left:12px; position:absolute; left:-15px;}
#header .links a:hover{color:#D45C93;}
#header #welcome {color: #999999; float:left;}

/* slider
----------------------------------------------------------*/

#slider { height: 350px; background: url("../Images/slider-bg.jpg") repeat-x 0 0; }
.slider-holder { position: relative; width: 985px; height: 350px; overflow: hidden; }
.slider-holder ul  { position: relative; list-style: none outside none; overflow: hidden; }
.slider-left { position: relative; float: left; display: inline; width: 300px; height: 350px; overflow: hidden; }
.slider-left ul li { height: 350px; width: 295px; color: #fff;  }
.slider-left .jcarousel-clip { position: relative; width: 295px; height: 350px; }
.slider-left ul li h2 { font-size: 24px; line-height: 24px; font-weight: normal; font-family: "Lucida Sans", Arial, Sans-serif; margin-bottom: 6px; margin-top: 30px ; }
.slider-right { position: relative; float: right; display: inline; width: 658px; height: 350px; background: url("../Images/slider-rightbg.jpg") no-repeat 0 0; overflow: hidden; padding-left: 13px;  }
.slider-right ul li, 
.slider-right .jcarousel-clip { position: relative; width:642px; height: 348px; }
.slider-right ul li img { margin-top: 1px; }

.slider-nav { position: absolute; bottom: 22px; left: 95px; z-index: 5; }
.slider-nav a { float: left; display: inline; width: 20px; height: 20px; background: url("../Images/slider-nav.gif") no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; margin-right: 5px;  }
.slider-nav a:hover,
.slider-nav a.active { background-position: right 0; }

/* main layout
----------------------------------------------------------*/

#main { padding: 25px 0 50px; }

.last { margin-right: 0 !important; }

.col { float: left; display: inline; width: 290px; margin-right: 52px; }
.col h2 { font-size: 20px; font-weight: normal; border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 10px; font-family: "Lucida Sans", Arial, sans-serif; }
.col .find-more { font-size: 13px; color: #00b4ea; text-decoration: underline; font-weight: bold; }
.col .find-more:hover { color: #000; text-decoration: none; }
.col_R{ float: left; display: inline; width: 22%; margin-right: 20px; }
.col_R h2 { font-size: 20px; font-weight: normal; border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 10px; font-family: "Lucida Sans", Arial, sans-serif; }
.col_R2{ float: left; display: inline; width: 73%; margin-left: 20px;}
.col_2{ float: left; display: inline; width: 630px; margin-right: 52px; }
.col_2 h2 { font-size: 20px; font-weight: normal; border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 10px; font-family: "Lucida Sans", Arial, sans-serif; }
.col_R2 h2 { font-size: 20px; font-weight: normal; border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 10px; font-family: "Lucida Sans", Arial, sans-serif; }
.colfull{ float: left; display: inline; width: 100%; margin: 20px; }
.colfull h2 { font-size: 20px; font-weight: normal; border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 10px; font-family: "Lucida Sans", Arial, sans-serif; }

/* footer
----------------------------------------------------------*/

#footer {border-top: 1px solid #ddd; font-size: 11px; color: #7f7f7f; font-family: "Lucida Sans", Arial, sans-serif; padding: 10px 0; }
#footer a { color: #7f7f7f; }
#footer p.right span { padding: 0 3px; }

/*********** Login ***********/

.login-content { margin-bottom: 20px; overflow: auto; }
.login-content .left { float: left; width: 48%; }
.login-content .right { float: right; width: 48% }
.login-content .right b{margin-bottom:3px; display:inline-block;}
.login-content .right a{margin-top:12px; display:inline-block}
.login-content .left .content, .login-content .right .content { min-height: 190px; }

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/*Basic reset*/
* {margin: 0; padding: 0;}

#listhome {
}
/*heading styles*/
#listhome h3 {
    text-decoration:underline;
	font-size: 13px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
}
/*heading hover effect*/
#listhome h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#listhome h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#listhome li {
	list-style-type: none;
}
/*links*/
#listhome ul ul li a {
	text-decoration: none;
	font-size: 12px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/

/*Lets hide the non active LIs by default*/
#listhome ul ul {
	display: none;
}

