﻿@model QLDETAI.Models.LocalPasswordModel
<link rel="stylesheet" href="~/Content/ChangePartial.css" type="text/css" 


@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
<br />
    <fieldset>
        <h2>Đổi mật khẩu</h2>
        @Html.LabelFor(m => m.OldPassword) <br />
        @Html.PasswordFor(m => m.OldPassword) <br />
        @Html.LabelFor(m => m.NewPassword) <br />
        @Html.PasswordFor(m => m.NewPassword)<br />
        @Html.LabelFor(m => m.ConfirmPassword)<br />
        @Html.PasswordFor(m => m.ConfirmPassword) <br />
        <input type="submit" value="Đổi mk" class="action-button" />
        <h2 class="fs-title">XÁC NHẬN THÔNG TIN</h2>
        <h3 class="fs-subtitle">Thông tin cá nhân</h3>
        <label>Họ và tên</label>
        
        <label style="margin-left:180px;">Giới tính</label><br />
        <input type="text" placeholder="Họ và tên" name="HoTen" />
        <input type="radio" value="Nam" style="margin-left:20px; margin-right:5px;width:10px;" class="gioitinh" />Nam 
        <input type="radio" value="Nu" style="margin-left:5px; margin-right:5px;width:10px;" class="gioitinh" />Nữ
        <br />
        <label>Địa chỉ</label><br />
        <input type="text" placeholder="Số nhà/ Huyện/ Tỉnh/ Thành Phố" /><br />
        <lable>Email</lable><br />
        <input type="text" placeholder="someone@example.com" /><br />
        <label>Tel</label><br />
        <input type="text" /><br />
        <label>Upload CMND</label><br />
        <input type="file" />  <br /> 
        <label>Trình độ học vấn</label><br />
        <input type="text" /><br />
        <label>Mô tả khả năng và kinh nghiệm khoa học</label>
        <textarea></textarea><br />
        <input type="button" value="Xác nhận" class="action-button"/>

        <h2 class="fs-title">UPGRADE LÊN TÀI KHOẢN NHÀ KHOA HỌC</h2>
        <h3 class="fs-subtitle">Cơ quan - nơi làm việc</h3>
        <label>Tên cơ quan</label><br />
        <input type="text" /><br />
        <label>Tên người lãnh đạo</label><br />
        <input type="text" placeholder="Nguyen Van A" /><br />
        <lable>Địa chỉ</lable><br />
        <input type="text" placeholder="Số nhà, khu / Huyện/ Tỉnh/ Thành Phố" />
        <h3 class="fs-subtitle">Quá trình đào tạo</h3>
        <table border="1">
            <tbody>
                <tr>
                    <th>
                        Bậc đào tạo
                    </th>
                    <th>
                        Nơi đào tạo
                    </th>
                    <th>
                        Chuyên môn
                    </th>
                    <th>
                        Năm tốt nghiệp
                    </th>
                </tr>
                <tr>
                    <td>Đại học</td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                </tr>
                <tr>
                    <td>Thạc sĩ</td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                </tr>
                <tr>
                    <td>Tiến sĩ</td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                </tr>
                <tr>
                    <td>Thực tập sinh</td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                    <td>
                        <input type="text" /></td>
                </tr>
            </tbody>
        </table>
        <br />
        <h3 class="fs-subtitle">Các hình ảnh cần upload</h3>
        <label>Upload Văn bằng điện tử</label>
        <input type="file" /><br />
        <label>Upload Giải thưởng</label>
        <input type="file" />
        <h3 class="fs-subtitle">Import thông tin theo mẫu điền excel</h3>
        <a href="#">1. Mẫu điền Công trình công bố</a><br />
        <a href>2. Mẫu điền Đề tài, dự án đã tham gia</a><br />
        <input type="button" value="Gửi đề nghị" class="action-button"/>
       
    </fieldset>
    
    
}
