﻿@model QLDETAI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>Đăng nhập</h2>
<p>
    Điền vào password và mật khẩu.
</p>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        <fieldset>
            <legend>Thông tin đăng nhập</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Đăng nhập" />
            </p>
        </fieldset>
    </div>

    
    <p>
        @Html.ActionLink("Đăng kí", "Register") nếu bạn chưa có tài khoản.
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
