﻿@model QLDETAI.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Tạo tài khoản mới</h2>
<p>
    Vui lòng điền thông tin đầy đủ ở form dưới
</p>
<p>
    Mật khẩu của bạn phải dài ít nhất 6 kí tự
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Tài khoản chưa tạo thành công")
    <div>
        <fieldset>
            <legend>Thông tin tài khoản</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Register" />
            </p>
        </fieldset>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
