﻿@model IEnumerable<QLDETAI.Models.QUANLYDETAI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/pre_next.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="col_R2">
    <h2>QUẢN LÝ ĐỀ TÀI</h2>
    <br />
    <div id="msform">
    @{
        var i = 0;
        foreach (var a in Model)
        {
            i = i + 1;
            <table width="100%">
                <tbody>
                    <tr>
                        <td rowspan="4" align="center" style="color: #2e9dbd; font-size: 40px">@i</td>
                        <td align="left" style="font-weight: bold">Tên đề tài:
                        </td>
                        <td>@a.TENDETAI.ToUpper()</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="left" style="font-weight: bold">Cấp:
                        </td>
                        <td>@a.CAPDETAI.ToUpper()</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="left" style="font-weight: bold">Tiến trình thực hiện</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                @if (a.LILICHKHOAHOC == true)
                                {
                                    <li class="active" style="width: 30%;">Lý lịch khoa học</li>
                            }
                                else
                                {
                                    <li class="yet" style="width: 30%;">Lý lịch khoa học</li>
                            }
                                @if (a.THUYETMINHDETAI == true)
                                {
                                    <li class="active" style="width: 30%;">Thuyết minh đề tài</li>
                            }
                                else
                                {
                                    <li class="yet" style="width: 30%;">Thuyết minh đề tài</li>
                            }
                                @if (a.DOWNLOAD == true)
                                {
                                    <li class="active" style="width: 30%;">Export ra file để nộp</li>
                            }
                                else
                                {
                                    <li class="yet" style="width: 30%;">Export ra file để nộp</li>
                            }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="font-weight: bold">Thao tác quản lý</td>
                        <td>
                            <input type="button" name="chuyencap" class="next action-button" value="Chuyển cấp" />
                        </td>
                        <td>
                            <input type="button" name="giahan" class="next action-button" value="Gia hạn" />
                        </td>
                    </tr>
                </tbody>
            </table>
        <br />
            <hr />
    }
        }
        </div>
</div>
<div class="cl">&nbsp;</div>